[2021-11-02 20:16] kevinbluer opened #2 "Not currently getting the version numbers of Node, NPM, Truffle, etc"
<img width="614" alt="Screen Shot 2021-11-02 at 3 16 06 PM" src="https://user-images.githubusercontent.com/210755/139945635-63e327bb-a63b-44f8-bf7a-43991b2b3c5f.png">

[2021-11-23 16:27] kevinbluer opened #3 "Chainlist integration"

[2021-11-23 17:04] #2 closed, assigned to kevinbluer

[2021-11-23 17:15] kevinbluer opened #4 "Ganache dependency when 6.x installed (all good with v7.0.0-beta.0)"
Reasonable chance this is just me, but figured I'd get it down just in case 😅

<img width="795" alt="Screen Shot 2021-11-23 at 11 03 07 AM" src="https://user-images.githubusercontent.com/210755/143070497-df7012a1-4a45-4ba0-b11a-a5fa0c687085.png">

[2021-11-23 17:28] kevinbluer opened #5 "Update debugger package"
For ref the current version of the debugger used by the extension is `5.0.35` vs [`9.2.3`](https://www.npmjs.com/package/@truffle/debugger)

[2021-11-23 17:34] kevinbluer opened #6 "Split out QBS / Truffle functionality"
Placeholder for now, more detail to follow

[2022-01-11 19:00] kevinbluer opened #8 "Ubuntu (and potentially other distros) issues"
Additional detail to follow

[2022-01-18 22:19] michaeljohnbennett opened #9 "Debug source paths need mapping"
We need to figure out how we can map the node_modules folder into the paths the debugger uses to resolve files when stepping through.

Possibly a mixture of the solidity plugins file resolution and config being sent to the debugger.

[2022-01-18 22:21] michaeljohnbennett opened #10 "Breakpoints will cause errors"
Setting breakpoints pre and inside a debug session cause errors right now.

Need to understand what the problem is with setting these breakpoints.

[2022-01-18 22:21] michaeljohnbennett opened #11 "Clean up Wiki content"
Wiki content needs cleaning up pre release.

[2022-01-21 21:12] kevinbluer opened #13 "Add a dedicated left-hand navigation item / multiple tree-views"
More detail [here](https://code.visualstudio.com/api/extension-capabilities/extending-workbench). Idea being this will free up real-estate for artifact / db data, txns, networks, workflow related details (audits, etc) etc.

<img width="270" alt="Screen Shot 2022-01-21 at 3 09 05 PM" src="https://user-images.githubusercontent.com/210755/150600445-c7d5a379-e986-4875-8a70-ed5d490dd070.png">

TODO - p

[2022-01-26 19:08] davidmurdoch opened #14 "Rename "Local Service" to "Ganache Service""
See:

![image](https://user-images.githubusercontent.com/187813/151229968-b5536c1e-6a1f-476c-a492-c1e4b1681bac.png)

[2022-01-26 22:43] #5 closed, assigned to nobody

[2022-01-26 23:57] michaeljohnbennett opened #15 "Debugger may need to use `--save-intermediate` build files for file resolution when debugging."
Talking to @gnidan about the debugger sourcemaps and file resolution there may be a need in certain scenarios to use this intermediate compiler file we generate when compiling local solidity files.

Right now in the scenarios we have been testing, which are relatively complex with some openzeppelin imports, they seem to work fine. Need to have some concrete examples where the current solution fail

[2022-01-27 01:12] #14 closed, assigned to michaeljohnbennett

[2022-01-27 19:24] #10 closed, assigned to kevinbluer

[2022-01-27 22:46] kevinbluer opened #16 "Provide a means of visually deploying via Truffle Dashboard integration"
More details to follow

[2022-01-27 22:46] kevinbluer opened #17 "Truffle Preserve integration"
More details to follow

[2022-02-01 00:09] michaeljohnbennett opened #18 "UI: Make TX selector for debug have a smaller txHash"
Make the TX hash dialog values smaller on the UI to make the filename/command more readily visible.

[2022-02-09 15:39] kevinbluer opened #19 "Update the box used when selecting "Create basic project""
When selecting "Truffle: New Solidity Project" from the command palette, followed by "Create basic project", it currently uses [Azure-Samples/Blockchain-Ethereum-Template](https://github.com/Azure-Samples/Blockchain-Ethereum-Template).

<img width="602" alt="Screen Shot 2022-02-09 at 9 31 46 AM" src="https://user-images.githubusercontent.com/210755/153233771-871387f8-a93d-46d4-bf72-44aabce6ac2d.pn

[2022-02-09 20:14] kevinbluer opened #20 "Allow for --f and --to to (optionally) be provided when running a migration"
When doing a deployment, there's currently no way to specify which migrations you'd like to run based on their numerical prefix. Specifically, after selecting a network, as per the dialog below, it will just run the equivalent of `npx truffle migrate --reset --network <selected-network-name>`:

<img width="597" alt="Screen Shot 2022-02-09 at 2 09 47 PM" src="https://user-images.githubusercontent.c

[2022-02-09 20:59] kevinbluer opened #21 "Improve Truffle Dashboard deployment integration"
The intent of this enhancement is to improve the Truffle Dashboard deployment flow from within the extension UI. High-level flow as follows:

- Check correct truffle version is installed (given Truffle Dashboard is only available as of [v5.5.0](https://github.com/trufflesuite/truffle/releases/tag/v5.5.0) we'll need to do a check to confirm the user has this version (or greater) installed. If not,

[2022-02-11 17:46] kevinbluer opened #22 "The list of Infura networks does not accurately reflect the list of EVM smart contract networks Infura supports"
Under "Blockchain Networks", when you sign in to your Infura account, it currently only lists L1 testnet and mainnet respectively. We should also include the supported L2 networks (e.g. Arbitrum, Optimism, Polygon, etc).

<img width="253" alt="Screen Shot 2022-02-11 at 11 43 09 AM" src="https://user-images.githubusercontent.com/210755/153641880-8e40728e-4ee7-4dd9-a94a-468f6eff67a5.png">

As part o

[2022-02-11 23:02] kevinbluer opened #23 "When debugging the truncated tx hashes (on the latest build) are broken"
My initial guess (without digging in) that it's attempting to debug the truncated hash itself

[2022-02-14 16:31] kevinbluer opened #24 "Intermittent (and incorrect) display of the dependencies splash screen"
The means with which it does the detection occasionally throws false negative(s) in that it doesn't correctly find the deps even though they're there

[2022-02-14 22:52] kevinbluer opened #25 "Dropdown when selecting a box to "unbox""
Possibly using a similar UX to the following:

<img width="596" alt="Screen Shot 2022-08-23 at 9 21 02 AM" src="https://user-images.githubusercontent.com/210755/186183005-1a761e6b-ec08-452f-b16c-ef49898405ae.png">

Boxes list to mock (note we'll need to merge these first): https://trufflesuite.com/data/boxes.json

Perhaps include a "refresh" row at the top (with a recycle icon).

[2022-02-15 18:54] kevinbluer opened #26 "Ability to right-click and run truffle exec based scripts"
Ability to run a script (via `truffle exec`) from a right-click context menu. This will only need to trigger on JavaScript files (as I believe `exec` currently doesn't support TypeScript)

[2022-02-15 23:47] #18 closed, assigned to michaeljohnbennett

[2022-02-16 00:12] kevinbluer opened #27 "Refactor the OpenZeppelin integration"
Note we'll be removing integration in the interim, with a view to adding back in shortly.

[2022-02-16 19:26] #16 closed, assigned to nobody

[2022-02-17 15:35] kevinbluer opened #28 "Add a "Help and Feedback" section"
Docker's VSCode extension is a nice example of this...

<img width="294" alt="Screen Shot 2022-02-17 at 9 34 48 AM" src="https://user-images.githubusercontent.com/210755/154515472-74bc5a2e-18bb-430a-971d-7e52eea9ebc5.png">

[2022-02-17 15:42] kevinbluer opened #29 "Go-live check-list"
- [x] Confirm Azure Applications Insights (telemetry) is all looking good
- [x] Copy review / sign-off
- [x] Verify deprecation workflow
- [x] Ensure infura SSO/app integration is working/rebranded
- [x] Check splash screen instruction for installing dependencies
- [x] Merge [docs PR](https://github.com/trufflesuite/trufflesuite.com/pull/1191)
- [x] Merge [blog PR](https://github.com/trufflesuite/

[2022-02-22 23:18] kevinbluer opened #30 "Explore adding Ganache as a dependency"
Detail to follow

[2022-02-23 00:19] michaeljohnbennett opened #31 "Investigate recompilation/debug issues"
In most cases, editing and recompiling and re-migrating will confuse the debugger as to what file to load/step through.

Looks like some kind of state issue/refresh issue with files upon successive migrations.

1. build `.json` files seem to have multiple networks in them upon successive deployments to `development` for example. This could be the issue
2. The extensions maybe caching data when it

[2022-03-01 23:56] #23 closed, assigned to michaeljohnbennett

[2022-03-03 23:38] kevinbluer opened #36 "Remove the version from the Solidity docs link"
It currently references [v0.5.5](https://github.com/trufflesuite/vscode-ext/blob/develop/resources/welcome/index.html#L80) and it's probably logical that we point it at https://docs.soliditylang.org

[2022-03-04 01:10] #19 closed, assigned to kevinbluer, michaeljohnbennett

[2022-03-07 16:18] kevinbluer opened #37 "Changelog window upon installation"
Do we still want this? If so, we'll need to ensure it's factored in to our maintenance / release workflow (assuming is requires manual updating)?

[2022-03-07 20:06] kevinbluer opened #38 "Windows - Dependency screen showing (even with min versions installed) when running certain commands"
Seeing the following dialog when attempting a few commands (e.g. start ganache, new solidity project):

<img width="441" alt="Screen Shot 2022-03-07 at 1 27 19 PM" src="https://user-images.githubusercontent.com/210755/157104109-9fdb9532-72fc-474e-9204-fc7221fee71a.png">

Despite (appearing) to have all the necessary deps installed:

- Node `v16.14.0`
- Git `2.35.1.windows.2`
- NPM `v8.3.1`
- Truff

[2022-03-08 00:59] michaeljohnbennett opened #39 "Requirements Screen - Reword instructions around installing and updating dependencies"
We should have more instructions on needing to restart VSCode after dependencies have been installed due to PATH updates that may not be reflected in the VSCode when checking for updates.

There is also some issues on Windows regarding compiler chain installation, perhaps linking to the node-gyp installer page or the VS Build Tools link to install if people are having problems - is this for the wi

[2022-03-08 21:16] #38 closed, assigned to nobody

[2022-03-09 23:27] kevinbluer opened #40 "Consider leveraging the withProgress API for long running processes (builds, deploys, etc)"
Example of this in use at the following: https://github.com/microsoft/vscode-extension-samples/tree/main/progress-sample

[2022-03-15 02:44] michaeljohnbennett opened #41 "When loading new plugin with old MS plugin installed. Doesn't activate fully."
On windows 10

latest VSCode
lates MS Blockchain extension installed.
All dependencies in place for MS Blockchain extension

When:
I install the new Truffle VSCode extension it will partially activate but will never complete setting up the networks/view. Infinite spinner.

Expected:
Both plugins to activate and live side by side.

Testing:
Tested on Mac locally and this works.
When I disable the o

[2022-03-17 01:36] #36 closed, assigned to michaeljohnbennett

[2022-03-28 22:09] #27 closed, assigned to kevinbluer

[2022-03-31 20:34] kevinbluer opened #45 "Inspecting global state while debugging incorrectly displays initial values"
When inspecting global state variables (either via the variable explorer or hovering over the variables in the editor), initial values will be shown until the values have been accessed. Note screenshot below wherein `InstanceOwner` is incorrectly showing `0x000...`.

<img width="976" alt="Screen Shot 2022-03-29 at 6 02 47 PM" src="https://user-images.githubusercontent.com/210755/160720606-345a7249

[2022-04-01 21:41] kevinbluer opened #47 "Update CHANGELOG.md to reflect correct version number / release notes"

[2022-04-04 16:16] kevinbluer opened #48 "Debugger - Cannot read property 'typeClass' of undefined"
Still working on consistent (or as close as possible) repro steps. In the interim, a few excerpts from 2 different stack traces...

[code]

[code]

[2022-04-04 17:00] kevinbluer opened #49 "Remove NOTICE.txt"

[2022-04-04 23:09] kevinbluer opened #50 "Infura sign in timeout"
Awaiting additional repro steps, but @kuldeep23907 experienced a timeout when attempting to sign in to Infura (screenshots below).

![Screenshot 2022-03-31 at 11 45 46 AM](https://user-images.githubusercontent.com/210755/161646490-b5e48eb4-836c-4279-976e-ffeece937d18.jpg)

![Screenshot 2022-03-31 at 11 57 59 AM](https://user-images.githubusercontent.com/210755/161646492-f3f45731-3c27-4682-a135-c7c

[2022-04-06 19:27] kevinbluer opened #51 "Explore adding a "Walkthrough" on the Getting Started splash"
As per the screenshot, it appears it's not limited to MS features

![Screen Shot 2022-04-06 at 2 26 03 PM](https://user-images.githubusercontent.com/210755/162053330-95efb32d-fcf3-41ed-b9df-6669f76ab887.png)

<img width="1243" alt="Screen Shot 2022-04-27 at 2 41 56 PM" src="https://user-images.githubusercontent.com/210755/165613129-e00367ce-c9f1-430f-8a21-5a3f9bb9e987.png">

[2022-04-06 19:27] kevinbluer opened #52 "Basic QBS Integration"
For now this is just the following:

- testing out deployments (internal testnet RPC endpoints available)

[2022-04-06 19:35] kevinbluer opened #53 "Auto open the Truffle for VSCode extension output tab upon build"
When running a build via the right-click context menu, e.g.

![Screen Shot 2022-04-06 at 2 32 59 PM](https://user-images.githubusercontent.com/210755/162054746-024c4f6b-a9dd-459f-8069-f45521947889.png)

It would be both a neat productivity enhancement and an aid to new(er) users to the extension to have it automatically bring this tab into focus:

![Screen Shot 2022-04-06 at 2 33 09 PM](https://us

[2022-04-06 20:04] kevinbluer opened #54 "Debugger loading incorrect source file or throwing "No source file" error"
Repo steps as follows:

- `truffle unbox amm` (or equivalent via the extension itself)
- `truffle migrate`
- CMD+Shift+P | Debug Transaction

![Screen Shot 2022-04-06 at 2 56 03 PM](https://user-images.githubusercontent.com/210755/162060139-33c74181-4eff-4fbc-a665-fc755c85f484.png)

Selecting the first txn (`CSAMM.constructor()`) resulting in the debugger incorrectly jumping to `Token1.sol` and th

[2022-04-06 22:09] kevinbluer opened #55 "Ability to start a forked Ganache instance"
When selecting "create a new network", have a "Forked Ganache" instance. Will likely need to include an optional block number field (default to latest if not provided).

Also perhaps include a "fork" icon next to the Ganache icon...

<img width="267" alt="Screen Shot 2022-04-19 at 12 18 48 PM" src="https://user-images.githubusercontent.com/210755/164059758-c38b7bd1-a7ac-483f-9d95-8a900e505700.png"

[2022-04-08 02:49] #47 closed, assigned to kevinbluer, michaeljohnbennett

[2022-04-08 04:11] michaeljohnbennett opened #57 "Ensure `deploy contracts` command will work with Truffle Dashboard"
Ensure we can target deployments to Truffle Dashboard from the command palettes.

[2022-04-08 17:16] haltman-at commented on #48
OK I've merged trufflesuite/truffle#5005 to deal with this!

[2022-04-08 18:33] xhulz opened #58 "Truffle Suite Installation: npm ERR! Error: EACCES: permission denied"
During the truffle suite installation, If the user has no permission on node_modules folder (e.g.: /usr/local/lib/node_modules/) we need to show a message warning him

`Running command
npm i -g  truffle@">=5.0.0 <6.0.0"
[Truffle: Execute command] npm[Truffle: Execute command]  ERR! code EACCES
npm ERR! syscall mkdir
npm ERR! path /usr/local/lib/node_modules/truffle
[Truffle: Execute command] npm E

[2022-04-08 22:08] kevinbluer commented on #48
FWIW i'm still appearing to get the issue despite the fix 😢 To confirm in case I'm missing something, I've bumped `@truffle/codec` to `0.12.7` and re-running the following steps (including for reference / broader reproducibility):

- `truffle unbox dao`
- `truffle migrate`
- `truffle exec scripts/propose.js` (which will error)
- Debug the txn from the VSCode command palette:

<img width="599" alt=

[2022-04-08 23:42] haltman-at commented on #48
When you say you're still getting the issue, what exactly do you mean?

[2022-04-08 23:49] michaeljohnbennett commented on #58
this is noted comprehensively in the getting started docs for vscode on our fleek host. This is awaiting merging into main docs/website.

The issue has nothing to do with VSCode and is a user, on a mac, trying to install packages into a system level folder without using sudo, which is a no-no anyway.

Docs will recommend using a local install or nvm to handle this. system wide node installs are ge

[2022-04-09 00:01] michaeljohnbennett commented on #58
https://bafybeiey2fvq4oxdf4oupwu37aua3cgpi4v2au3brtunmg7jloqdkgprt4.on.fleek.co/docs/vscode-ext/installation-guide.html#tldr-2-node-is-hard-to-get-right-for-a-beginner-on-a-mac-

[2022-04-09 00:04] michaeljohnbennett commented on #48
From my testing as well prior to merge of your PR @haltman-at those code blocks would pass when debugging some of the time. It looks like something else down the stack/elsewhere in the process is crashing/failing and we get back the general error from the redux store that it cannot connect to the RPC client which seems to be the general error we see.

More investigation will need to be done on our

[2022-04-09 13:54] xhulz commented on #58
Good  👍

[2022-04-09 13:55] #58 closed

[2022-04-12 08:28] michaeljohnbennett commented on #45
not in progress, now we have the fixes into released truffle this is probably ready to pick up.

[2022-04-12 08:29] michaeljohnbennett commented on #54
I have been testing this and it seems something inside the debugger with these specific files.

I can't figure out why the debugger doesn't like the source or finds the source correctly for this file.

[2022-04-12 08:30] michaeljohnbennett commented on #49
done

[2022-04-12 08:30] #49 closed

[2022-04-12 20:35] kevinbluer commented on #48
When attempting to debug (via the following step included above), I get above `Cannot read property 'typeClass' of undefined` in my debug console

[2022-04-12 22:01] haltman-at commented on #48
Any stacktrace or anything?

[2022-04-13 17:38] cds-amal commented on #57
Closing, as this is a duplicate of #21

[2022-04-13 17:38] #57 closed

[2022-04-13 18:36] cds-amal commented on #8
Closing for issue maintenance

[2022-04-13 18:36] #8 closed

[2022-04-13 18:36] cds-amal commented on #6
Closing for issue maintenance

[2022-04-13 18:36] #6 closed

[2022-04-13 18:36] cds-amal commented on #4
Closing for issue maintenance

[2022-04-13 18:36] #4 closed, assigned to nobody

[2022-04-13 18:37] cds-amal commented on #3
Closing for issue maintenance

[2022-04-13 18:37] #3 closed

[2022-04-14 18:14] #45 closed

[2022-04-15 22:34] kevinbluer commented on #48
Was just doing some digging into this (and about to reply to your above question @haltman-at) when I noticed `session.ready()` wasn't actually being called. Just added as a [temp fix](https://github.com/trufflesuite/vscode-ext/commit/154f7082384cd446092bbfb9a318ba481d7a247b) and it seems to be a lot more consistent. It also seems to correlate with "sporadicalness" of the issue(s) we've been experi

[2022-04-18 14:50] xhulz commented on #54
I've reproduced the steps above and when I was debugging the Token1.sol, I got this error stack. I realized something strange, it's trying to find a file located: **Users/tyler/projects/truffle/packages/debugger/lib/data/selectors/index.js**

`TypeError: Cannot read properties of undefined (reading 'variables')

rejected promise not handled within 1 second: TypeError: Cannot read properties of und

[2022-04-18 17:45] xhulz commented on #54
I'm talking to Tyler to understand why it’s happening

[2022-04-18 18:53] haltman-at commented on #48
`session.ready` has been a dummy for quite some time.  It isn't necessary anymore, not unless you're using a really old debugger version...

[2022-04-20 01:05] michaeljohnbennett commented on #54
its hard to debug the compressed sourcemap dependencies of debugger. Locally building a development/sourcemap version of debugger and using `yarn link ...` will get you further to seeing the issue. The tyler thing is a red herring, its the way webpack builds the file names. I fixed it somewhat a few months ago but these paths are not the real paths the files are looking for but actually the refere

[2022-04-20 01:11] #11 closed

[2022-04-20 01:11] #9 closed

[2022-04-21 15:55] xhulz opened #68 "Command 'Truffle: Start Ganache' resulted in an error (command 'truffle-vscode.startGanacheServer' not found)"
How to reproduce:
 - Open the Visual Studio Code for the first time
 - Go to the "Command Pallete"
 - Choose "Truffle: Start Ganache" or "Truffle: Stop Ganache"

If the extension has previously loaded, the problem does not happen.

![Screenshot 2022-04-21 at 16 53 12](https://user-images.githubusercontent.com/32708942/164501479-3683da6a-3b6d-4735-b139-7e0efc187efd.png)

[2022-04-22 20:12] kevinbluer commented on #31
hey @michaeljohnbennett apols for not replying to this comment sooner! i think there's definitely plenty we can do improve things re the workflow as you go through the edit, compile, deploy, transact, debug loop (possibly with some optional automation) but it's been ok for me. could be the fact we added the `--compile-all` to the deployment command?

any repro steps you can share if you're still g

[2022-04-22 20:12] kevinbluer commented on #29
Closing, given the extension is now live

[2022-04-22 20:12] #29 closed

[2022-04-27 02:56] haltman-at commented on #50
@kevinbluer I take it we haven't gotten those repro steps yet?

[2022-04-27 02:58] kevinbluer commented on #50
Hey @haltman-at, nope not yet. I'll give Kuldeep a nudge.

[2022-04-28 00:37] kevinbluer commented on #13
figma for ref: https://www.figma.com/file/RtzDjGS3wehIoyZkQh11LE/VSCode-mock?node-id=0%3A1

[2022-04-28 07:19] michaeljohnbennett commented on #13
some POC work done today:
![image](https://user-images.githubusercontent.com/951378/165698533-cb547609-5f6c-4cd6-bac0-3b76d2fd738b.png)

[2022-04-29 19:21] kevinbluer commented on #13
nice one @michaeljohnbennett! 👏

[2022-04-29 19:29] kevinbluer commented on #25
At present it's a combo of two files (https://github.com/trufflesuite/trufflesuite.com/blob/main/src/boxes/data.json and https://github.com/trufflesuite/trufflesuite.com/blob/main/src/data/boxes.json) although afaik the rationale behind this was from years ago and they'll actually be merged (with a bit of an overhaul of the taxonomy too) v soon.

[2022-04-29 19:46] kevinbluer commented on #28
@CombsieZ you think you'd be able to gather up some PNG's for the above list...i believe we'll need both light + dark to accommodate both modes

[2022-04-29 19:48] kevinbluer opened #69 "Add the ability to generate a mnemonic"
Detail to follow

[2022-05-02 16:37] kevinbluer commented on #28
Icons from @CombsieZ 🙌

![code-sample-dark](https://user-images.githubusercontent.com/210755/166283261-72ecc729-96dd-46df-a032-628acae3a747.png)
![code-sample-lite](https://user-images.githubusercontent.com/210755/166283273-8b54f655-daef-41ba-bc3b-86a92642b0c3.png)
![commnunity-support-dark](https://user-images.githubusercontent.com/210755/166283278-123f1f47-6717-430d-adcb-ef9803205f38.png)
![comm

[2022-05-04 15:11] kevinbluer opened #72 "Add a "Truffle: " prefix on context menu commands"
As per the following screenshot, "Solidity Visual Developer" adds a "Solidity: " prefix to its context menu commands. I feel this might be useful to include (see "Build Contracts", "Deploy Contracts") as it helps distinguish the commands. This is particularly useful when the context menus are quite busy.

<img width="286" alt="Screen Shot 2022-05-04 at 10 08 03 AM" src="https://user-images.githubu

[2022-05-04 18:40] kevinbluer commented on #26
Tentatively moving to code review (although not assigning anyone yet as the tests probably need a bit of fleshing out)

[2022-05-05 02:25] denik1981 opened #74 "Please make the extension able to support a non-exact version of git (currently asking for 2.10.0)"
I have git@2.35.1 installed in my system and while the other requirements for this extension are bound to the latest minor with `^`, this isn't the case for git which asks for the exact 2.10.0 version. I would prefer to avoid downgrading git to use this extension. I'm not quite sure what could be the incompatibility on using ^2.0.0

[2022-05-05 02:44] michaeljohnbennett commented on #74
Hi there, for sure, there isn't a super hard requirement I think this is a legacy thing, in reality its all going to work fine, even if it complains about the dependency.

We are thinking about cleaning this whole bit up/removing it as its not the greatest UX.

Thank you so much for raising this though, and hope, this notwithstanding, are getting some use from extension.

[2022-05-05 02:54] denik1981 commented on #74
@michaeljohnbennett Thank you for getting back so quickly.
I also think this should work ok if it uses a later version of git, but the problem is that the `Truffle: New Solidity Project` command fails to start building the project if I don't meet all the required dependencies.

[2022-05-05 03:55] michaeljohnbennett commented on #72
Yeah, easy enough fix.

[2022-05-05 09:51] michaeljohnbennett commented on #74
ok, leave this with me, and I'll check it out tomorrow. It's a simple enough fix.

[2022-05-05 09:55] michaeljohnbennett commented on #74
What OS are you running on out of interest?

are you using `create basic project` or `create project from truffle box`

on osx the former doesn't need `git` and my version is 2.32.0 here and it works fine.

[2022-05-05 09:57] michaeljohnbennett commented on #74
can you also send me the output of the output channel for the extension from here:

![image](https://user-images.githubusercontent.com/951378/166901254-bb69a40b-063f-4d81-876d-5ba8b39f44a8.png)

[2022-05-05 16:02] denik1981 commented on #74
@michaeljohnbennett Oh, I see. Let's put this on hold until further research on my side because if it works for you I think it is more related to vscode than to this extension.

Seems there is a mainstream issue with vscode when using the automation shell on linux (my OS in this case) that is not picking up very well the neccesary context to startup the shell with my custom profile scripts (.bashr

[2022-05-05 22:27] michaeljohnbennett commented on #74
ok, we know ubuntu, (where I tested this with a vanilla shell with all the bits installed) did work for a basic proof of concept (install a simple box project) so I'm not sure how volta does or doesn't interact with things.

If you can send me some info on how its setup I can test on my Ubuntu VM here.

[2022-05-06 03:14] denik1981 commented on #74
It is all about the settings on vscode and it goes on me. It is not related to this extension. I don't think you should invest time researching for this if you can warrant it is not forcing people to install a fixed version of git in order to set up the project. Thanks for the kind and excellent support.

[2022-05-06 03:14] #74 closed

[2022-05-06 03:43] michaeljohnbennett commented on #74
No worries @denik1981, hope you get it working but we will make the git required app be a min rating in the next release.

[2022-05-06 15:40] NikolaiSch opened #76 "Creating a test status viewer in VScode"
# Test status viewer
- My reasoning
  - Its a useful utility to see how tests are
  - Helps encourage test driven development
  - Green ticks while programming are encouraging :)

If you guys are too busy, just give me the go ahead, and I will start creating a pull request with this feature

An example of a similar extension is:
![image](https://user-images.githubusercontent.com/94403162/167166142

[2022-05-09 22:35] kevinbluer commented on #76
Hey @NikolaiSch, love this idea and it would be awesome if you're happy to create a PR for it!

It's worth noting we're currently working on the extension having its own side-bar tab, thus give it more space for views like this. More detail [here](https://github.com/trufflesuite/vscode-ext/issues/13) along with [the recent PR for it](https://github.com/trufflesuite/vscode-ext/pull/75) by @michaelj

[2022-05-09 22:55] kevinbluer opened #77 "Improving our release notes to be inline with VS Code's"
Example below

<img width="940" alt="Screen Shot 2022-05-09 at 5 53 11 PM" src="https://user-images.githubusercontent.com/210755/167511652-a415affd-e8b2-49fa-a521-eed24910bbbd.png">

[2022-05-10 06:28] michaeljohnbennett commented on #76
When I did some research on this there was 2 options.

1. Fork and write another mocha test explorer addon to understand the truffle test environment. Truffle test does a bunch of remapping of the mocha environment to map it to the truffle parlance for test elements.
2. Update truffle to output something that is more mocha shaped and uses the standard terminology.

Would love to hear if you have o

[2022-05-10 11:47] NikolaiSch commented on #76
I was going to use the first option, however, if you suggest me to use the second, I can do that as well.

[2022-05-10 13:48] NikolaiSch commented on #76
I was thinking of forking the above project i showed before, and using that, but what is your opinion on that @michaeljohnbennett

[2022-05-10 13:58] xhulz opened #79 "Add more integrations with networks and services"
We need to start thinking about an architecture that allows us to add more integrations with networks (L1  & L2) and services.

For instace:
 - IPFS
 - Filecoins
 - ETH2
 - Optimistic

[2022-05-10 22:05] michaeljohnbennett commented on #76
I think that has the least surface impact to the rest of truffle and probably the easiest.

[2022-05-10 22:35] michaeljohnbennett commented on #79
The network tree view has the concept of multiple providers to be added to it as treeview items so this code is pretty flexible in this regards.

As to how you work with them its probably still going to be driven from network config in truffle?

[2022-05-11 20:40] ashbeech opened #81 "Truffle for VSCode Extension Doesn't Compile From Expected Working Directory"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

Truffle for VSCode extension only considers first project dir in VSCode Workspace as working directory to compile contracts from.

## Steps to Reproduce

After installing Truffle for VSCode extension, open a VSCode workspace containing >1 pr

[2022-05-11 22:55] fainashalts commented on #79
Hi @xhulz are you talking specifically about VSCode here? I'd love to be involved in this discussion and planning when you do it! I think I can help inform what developers will need from the Layer 2 perspective.

[2022-05-12 02:18] Peacebeuponu94 opened #80 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `truffle-vscode`
- Extension Version: `2.2.1`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.67.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-05-12 02:18] #80 closed

[2022-05-12 09:04] xhulz commented on #79
Hey @fainashalts, sure thing!

Let's talk to @kevinbluer about that :)

[2022-05-12 15:35] NikolaiSch commented on #76
@michaeljohnbennett I have never done a large feature before (for open source), however I want to make sure a couple things:
1) How you recommend me to get familiar with codebase?
2)And adding to that, how should I layout the code?
3) Is there a way I am able to contact you, or should I use this thread?

What I have researched:
- <https://code.visualstudio.com/api/extension-guides/testing> native

[2022-05-12 16:08] kevinbluer commented on #79
Definitely, would be great to brainstorm further @fainashalts. I'll schedule a quick check-in on for later this month. Also for reference I updated the network list to better reflect parity with Infura and the boxes that we have in the pipeline.

[2022-05-12 21:41] kevinbluer commented on #81
Hey @ashbeech, great spot and thanks a ton for opening the issue! I can definitely repro on my side. We have a release scheduled for the end of the month, although we'll try and squeeze in a quick patch release before then.

Thanks again and keep the issues coming 👍

cc @xhulz @michaeljohnbennett

[2022-05-12 21:56] kevinbluer commented on #81
A couple of additional things to note:

- Same issue applies when running `Deploy Contracts`
- We'll need to handle the running of the equivalent commands from the palette (e.g. `Truffle: Build Contracts` and `Truffle: Deploy Contracts`). One approach might be to include a dropdown with an enum of all the directories (subdirectories too?) so the user can select. Assuming it exists, have `./contrac

[2022-05-13 04:29] kevinbluer opened #83 "Ability to compile a single contract (via the right-click context menu)"
Now possible via https://github.com/trufflesuite/truffle/pull/5079 so we'd need to check the user has `v5.5.14` of Truffle. The menus could be updated to something like `Compile Single File` and `Compile All`.

[2022-05-13 14:50] cds-amal commented on #83
Neat idea @kevinbluer !

[2022-05-13 14:58] kevinbluer commented on #76
Hey @NikolaiSch, just a quick ping regarding #1 and getting familiar with the codebase; one approach could be to pick up a [_good first issue_](https://github.com/trufflesuite/vscode-ext/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22). In particular https://github.com/trufflesuite/vscode-ext/issues/72 which should be pretty simple and allow you to get familiar with the codebase and t

[2022-05-13 19:42] NikolaiSch commented on #76
Thanks for the advice, @kevinbluer, I will start on that issue now :)

[2022-05-13 19:54] NikolaiSch commented on #72
I will create a pull request tonight! working on it right now.

[2022-05-13 20:14] kevinbluer commented on #76
Awesome!

[2022-05-17 01:29] michaeljohnbennett commented on #76
Hi @NikolaiSch sorry for the radio silence, any questions on this feature are best in here.

Great work if you are picking up another of the good first issue ones.

For the tests, your second option to look at the test results output/exhaust of the truffle test call could be a good first start on the test side to see the easiest way to do things here.

You would still need some kind of plugin to t

[2022-05-18 22:33] emilyJLin95 opened #87 "Debugger doesn't work when using HDWalletProvider in your truffle-config.js"
---------------------------

## Issue

When I try to open the VS Code debugger, I get a toast that says `"truffle-config.js" has incorrect format`, but I don't know what is causing the incorrect format

## Steps to Reproduce

1. truffle unbox optimsim
2. create and deploy a script locally
3. open debug from the cmd palette

If I restart VSCode a few times, it will eventually work

truffle-config.j

[2022-05-19 03:03] ch4dwick commented on #24
I am running Ubuntu-based Pop_OS! and the issue is happening on my end. I'm using zsh with oh-my-posh/ohmyzsh.

[2022-05-19 17:21] kevinbluer opened #88 "Truffle Dashboard view in sidebar"
Initial thoughts...

- Ability to start / stop (and see running status) of dashboard service
- Clickable link (and maybe copy URL) to open dashboard
- [daydream] - ability to send a txn to it

[2022-05-19 17:22] kevinbluer opened #89 "View container mounted to a Truffle console instance"
See #11 below...

![](https://code.visualstudio.com/assets/api/ux-guidelines/examples/architecture-sections.png)

[2022-05-24 02:17] Ptaliu opened #90 "Unable to deploy to ganache bscfork network"
Unable to deploy to ganache bsc fork network

[2022-05-24 08:40] xhulz commented on #90
Hi @Ptaliu, thank you for letting us know about this issue :)
Do you have more information about that? (how to reproduce or even the error stack trace?)
Thank you again :)

[2022-05-24 19:25] kevinbluer opened #91 "Debugging when a Truffle project is in a subdirectory throws error"
More detail (along with some thoughts on the UX/DX re the potential solution) to follow.

[code]

[2022-05-24 19:27] kevinbluer opened #92 "Add support for multiple truffle config files (e.g. truffle-config.ovm.js)"
More detail to follow 🤝

[2022-05-28 09:18] marcpre opened #95 "VSCode Plugin - Error occured in debug mode: No source file"
- [x] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

Hello,

I have installed the following versions:

[code]

I am trying to debug my contract with the new vscode truffle plugin.

I get the following:

![image](https://user-images.githubusercontent.com/30902582/170818974-9cfb40b3-ee1c-405b-b3

[2022-06-02 04:06] michaeljohnbennett opened #94 "Cleanup eslint and pre-commit hooks to enforce code style."
Looking through a number of PRs recently I can see a lot of code styles (tabs etc) in code and we need to just pick one set of styles/conventions and enforce that on commit and CI cycles.

Need to investigate:

- husky pre-commit hooks for strict linting
- CI checks as well
- CI yarn checks

[2022-06-03 09:24] #81 closed

[2022-06-03 10:50] #55 closed

[2022-06-03 21:44] marcpre commented on #95
Hi,

find below my file directory:

![grafik](https://user-images.githubusercontent.com/30902582/171957833-9f03251a-9582-4870-978d-a604b4021b03.png)
![grafik](https://user-images.githubusercontent.com/30902582/171957888-cb10d1c6-a39a-4f18-a462-e7a6d5850563.png)

[2022-06-03 21:45] marcpre commented on #95
Please find below my repository: https://github.com/marcpre/demo_javascript_real-world-nft.git

[2022-06-07 22:16] kulho opened #97 "Debugging on a forked network"
Hello,

Steps to reproduce:
1) create a new basic project with the extension in vs code
2) ganache --fork.network rinkeby
3) right click on contract and deploy on the ganache
4) try to debug transaction with the extension
Behavior:
eth_getBlockByNumber goes on forever

not sure if it is trying to go through the 10M+ blocks, but it would be nice to somehow limit it or stop it and get the latest tra

[2022-06-07 22:28] michaeljohnbennett commented on #97
Hey, are you using the pre-release version of the extension from the marketplace? We have added some new features to allow forking.

[2022-06-08 12:28] wzquyin opened #99 "Truffle configuration file not found"
After run "Truffle : New Solidity Project"->"Create basic project"
right click contracts/HelloBlockchain.sol->Build Contracts
Output :spawn C:\Windows\system32\cmd.exe ENOENT
right click contracts/HelloBlockchain.sol->Deploy Contracts
Output : Truffle configuration file not found

It`s ok few days ago ,today outputs errors
I do nothing!
then I try reinstall ext ，truffle ..ganche,,node,npm，，，stills

[2022-06-08 13:25] wzquyin commented on #99
thanks ,
the errors only in 2.3.1,I install 2.2.1 is works ok

[2022-06-08 13:28] xhulz commented on #99
Thank you again @wzquyin. We are working on it :)

We are keeping this issue opened and after we solved it, we'll let you know

Thanks!

[2022-06-08 14:27] kevinbluer opened #100 "R&D alternative Core SDK provider support"
Details to follow

[2022-06-08 14:27] kevinbluer opened #101 "IPFS upload and pinning"
Details to follow

[2022-06-08 14:28] kevinbluer opened #102 "Enhanced boxes and libraries integration"
Details to follow

[2022-06-08 14:28] kevinbluer opened #103 "R&D enhancing security workflow"
Details to follow

[2022-06-08 20:03] kevinbluer commented on #28
Done #75

[2022-06-08 20:03] #28 closed

[2022-06-08 20:04] kevinbluer commented on #22
Done #86

[2022-06-08 20:04] #22 closed

[2022-06-08 20:04] #17 closed, assigned to nobody

[2022-06-08 20:05] kevinbluer commented on #13
Done #75

[2022-06-08 20:05] #13 closed

[2022-06-08 20:05] kevinbluer commented on #37
Closing for issue maintenance

[2022-06-08 20:05] #37 closed

[2022-06-08 20:06] kevinbluer commented on #50
Closing for issue maintenance

[2022-06-08 20:06] #50 closed

[2022-06-08 20:11] #88 closed

[2022-06-08 20:15] kevinbluer commented on #72
Done #84

[2022-06-08 20:15] #72 closed

[2022-06-08 20:33] kevinbluer opened #105 "Ability to right-click Create Contract in the Contract Explorer view"
Low-ish priority, but it would be useful to be able to right-click Create Contract in this view to save you having to jump back over to the Explorer tab.

<img width="249" alt="Screen Shot 2022-06-08 at 3 30 27 PM" src="https://user-images.githubusercontent.com/210755/172711618-fc0b34a7-238d-449c-baf0-9ca25f678437.png">

[2022-06-08 20:36] kulho commented on #97
Hey, thanks for the response. I just upgraded to the new release 2.3.1. The new features are really nice, thanks for that :)

The original issue still persists and there is one more thing.

When I create the forked ganache using the new features it is first run without forking. Correct me if I am doing something wrong. Steps to reproduce are the following:

1. create a new basic project with the e

[2022-06-09 08:24] xhulz commented on #105
@kevinbluer this issue was solved here: https://github.com/trufflesuite/vscode-ext/pull/104

Just waiting @michaeljohnbennett approval to be merged

[2022-06-09 09:23] xhulz commented on #105
@kevinbluer & @michaeljohnbennett thanks for your approval. It has merged :)

[2022-06-10 00:09] michaeljohnbennett opened #106 "Cleanup CI and Build config"
Remove the Preview tag and clean up the tagging/release process CI builds.

[2022-06-10 12:05] denijazz84 opened #107 "zsh: command not found: truffle"
Hello Everyone,
I'm new in blockchain development and following a link in youtube to learn.
In that link the instructor types "$ truffle version" in the terminal and gets an answer, but I can not get any answer.

First I don'T have $ in my terminal, I have %. Please see below, although  I downloaded the truffle app through Ganache, my terminal does not see it. What do I do wrong ? Thanks in advanc

[2022-06-10 14:34] xhulz commented on #107
Hi @denijazz84! Thank you for reaching out :)

Please, type in your terminal only "truffle version", without any symbols :)

https://user-images.githubusercontent.com/32708942/173087810-3385174f-8fa4-478e-b0bf-30a5ab2a64d7.mov

If you have more questions, just let me know. In the meantime, you can learning more here:

Learn more about Truffle for VS Code Extension here:
[Truffle Blog](https://truf

[2022-06-10 14:40] xhulz commented on #107
Hi @denijazz84,

Please, try to install Truffle via NPM: `npm install -g truffle`

[2022-06-10 23:43] denijazz84 commented on #107
I tried and still giving error, can u pls take a look at it ?
I am downloading in Applications, should actually work, but it advices me to Use `--location=global` instead. I didn't understand it...

deniz@MacBook-Pro-von-Deniz Applications % pwd
/Users/deniz/Applications
deniz@MacBook-Pro-von-Deniz Applications % npm install -g truffle
npm WARN config global `--global`, `--local` are deprecated. U

[2022-06-11 13:59] wzquyin commented on #99
update in 2.3.3 errors remain...

[2022-06-11 23:13] denijazz84 commented on #107
I found the error, terminal does not recognizes me as administrator however when I write 'sudo' function it asks me a password that I don't know which password it means. My apple password definitely not working. But I am searching it now in Github, I hope I can find it
=)

[2022-06-12 08:48] xxll88 opened #108 "spawn C:\WINDOWS\system32\cmd.exe ENOENT"
when build contract  and running command   "npx truffle compile" , a window pops up  : "spawn C:\WINDOWS\system32\cmd.exe ENOENT" , 2.21 is ok , 2.3.1 and 2.3.3 have same problem

[2022-06-13 23:48] michaeljohnbennett commented on #107
we have a full instruction on how to install for macosx and window.

Please do not install any public downloadable packages into OSX using `sudo` it's super bad. You have a high chance of doing something irreversible to your OS or installing malware at best.

everything you need is here: https://trufflesuite.com/docs/vscode-ext/installation-guide/

And it should be well noted on the setup pages an

[2022-06-14 00:05] michaeljohnbennett commented on #108
Thanks for letting us know.

Can you give us some more background on this bug:

1. Does this work ok in the folder on the command line? Without using VSCode.
2. Can you give us the output from the output channel on the vscode extension to see what errors its outputting, if any. https://trufflesuite.com/docs/vscode-ext/installation-guide/#help-i-still-have-problems on how to get this.
3. What versi

[2022-06-14 03:22] xxll88 commented on #108
1.Does this work ok in the folder on the command line? Without using VSCode.
ans：    yes ，run truffle compile in terminal is ok

Can you give us the output from the output channel on the vscode extension to see what errors its outputting, if any. https://trufflesuite.com/docs/vscode-ext/installation-guide/#help-i-still-have-problems on how to get this.
 ans：  when start  build contract,  vscode ou

[2022-06-14 09:31] michaeljohnbennett commented on #108
Thank you for all this info, we have some VM's with different versions of windows we can test on here, and see if we can replicate the issue on the latest extension.

[2022-06-14 15:01] FILAgiao opened #109 "spawn C:\WINDOWS\system32\cmd.exe ENOENT"
![image](https://user-images.githubusercontent.com/80993915/173610244-62c2af04-92b2-4237-9991-f43f0e2b0a28.png)
after press the build contract buttom,it shows "spawn C:\WINDOWS\system32\cmd.exe ENOENT"
I do have this cmd.exe at this position,but why????

[2022-06-14 17:41] NikolaiSch commented on #76
@michaeljohnbennett apologies for inactivity, going through my ALevel exams, I think before I start to implement this, I would like to get more familiar with the codebase, if you can suggest a few (2-3) issues, for me to get more familiar with the codebase, and VS code extension functionality, I would be grateful. :)

Thanks, Nikolai

[2022-06-14 17:42] NikolaiSch commented on #76
and if possible, deeper into the codebase, where I can start to improve.

[2022-06-14 19:49] xhulz commented on #108
Hi @xxll88 and @FILAgiao!

Thank you for reaching out :) Please, is it possible execute the command "build contracts" again and send us the log, like the image below?

<img width="1722" alt="Screenshot 2022-06-14 at 15 45 43" src="https://user-images.githubusercontent.com/32708942/173675971-89d98ef4-ddc9-4963-88a6-a019919f5015.png">

[2022-06-14 22:51] denijazz84 commented on #107
My macbook pro password doesn‘t work but maybe I did a panic and wrote the wrong thing. Bc I did make a panic after reading your mail.

But I can reset my password using my apple ID, however I will not do it, bc I am not sure anymore whether that is safe. Maybe this will also put my apple id in danger ? Or maybe it is the only chance to change my password (which I put after ‚sudo‘ code…) before so

[2022-06-15 01:25] xxll88 commented on #108
![image](https://user-images.githubusercontent.com/54157661/173716577-328ef83f-f541-45b2-b35c-c0901a6ed677.png)

[2022-06-15 02:04] michaeljohnbennett commented on #107
I think you will be fine, if your macbook isn't working I can't really help you with that and the mac store will be able to advise you further on password things. You can normally set that from another device.

There is almost no risk to installing truffle onto your machine like this, the whole concept of installing things via sudo is a bad idea unless you really know what you are doing and unders

[2022-06-15 02:04] #107 closed

[2022-06-15 14:17] xhulz commented on #108
Thank you @xxll88!

We are working on that :)

[2022-06-21 23:44] kevinbluer commented on #109
Duplicate of #108. Will go ahead and close but feel free to comment on the other thread 👌

[2022-06-21 23:44] #109 closed

[2022-06-23 02:15] michaeljohnbennett commented on #76
Hi @NikolaiSch I think this one perhaps? https://github.com/trufflesuite/vscode-ext/issues/105

Its relatively simple, and you would get to grips with the action code and mapping menu items etc to specific tree item views.

https://code.visualstudio.com/api/references/contribution-points has some info on how you would create a contribution point in config to add this menu item on right clicking. T

[2022-06-23 03:19] michaeljohnbennett commented on #108
We have made a release v2.3.4 to the marketplace and this should resolve the issues you were seeing, please let us know how you get on.

Reopen this issue if the problem still persists after updating the extension to the latest release version.

[2022-06-23 03:19] #108 closed

[2022-06-26 16:03] NikolaiSch commented on #105
If it’s ok @kevinbluer, I would like to complete this, I’ll get started on a pull request, in order to become more familiar with the VS code api. Thanks :)

[2022-06-28 16:03] kevinbluer commented on #105
Hey @NikolaiSch, apologies for the slight delay (was offline yesterday), but that would be awesome! Just assigned you now. Let us know if you have any questions as you dig in. Thanks again 👍

[2022-06-28 19:19] NikolaiSch commented on #105
@kevinbluer no problem, was busy yesterday and today anyway, when i'm home from rust london talk, i'll start work!

[2022-06-28 19:47] kevinbluer commented on #105
Awesome 🙌 Also hope the rust talk was good!

[2022-06-28 23:11] NikolaiSch commented on #105
@kevinbluer, it was :).

I am not sure why
`await tryExecute(() => ServiceCommands.createProject());`
is used instead of just
`await tryExecute(ServiceCommands.createProject);`

is there a reason?

[2022-06-30 09:29] kaustubh135 opened #115 "Unable to detect Installed Node.Js Current 18.4.0"
I am using windows 11, I have installed all other dependencies including node which was already installed but when I try using Truffle: New Solidity Project command in VS Code it gives me error "To run command you should install required apps. Please see details on the Requirements Page" after opening the details I can see option to install Node.Js even though it is still installed and added to PA

[2022-06-30 09:46] xhulz commented on #115
Hi @kaustubh135!

Thank you so much for letting us know about that. Today the code is limiting the node version from 14.0.0 to 17.0.0 but let me check if we can increase this range and release a new extension version.

As soon as I have an answer, I'll let you know :)

Thank you again

[2022-06-30 12:46] MicaiahReid commented on #90
Closing for issue maintenance.

[2022-06-30 12:46] #90 closed

[2022-06-30 17:42] xhulz opened #117 "Edit the required apps page to display the version range of all apps"
The required apps page displays only the minimum version of apps. To avoid misunderstandings, it might be better to display the maximum version as well.

![176642309-8ab7be49-515c-4be8-a448-f7ab30531464](https://user-images.githubusercontent.com/32708942/176742698-71934e2a-c421-4797-b0b5-a7ac557f9166.png)

[2022-07-01 08:40] xhulz commented on #115
Hi @kaustubh135!

I've checked the information. Truffle is not ready to run over node 18+. Today, we recommend using version between 14 and 17. We are working on migrating to node 18+, but for now we don't have a release date.

Thanks again for your contact :)

[2022-07-01 08:42] xhulz commented on #115
I'm gonna close this issue, but feel free to reopen in any case.

Thanks!

[2022-07-01 08:42] #115 closed

[2022-07-01 19:13] NikolaiSch commented on #105
if anyone can have a look and comment upon my pull request, i would be greatful :). @kevinbluer @michaeljohnbennett. I would love to continue to contribute to this project!

[2022-07-01 22:04] kevinbluer opened #121 "In the Sidebar rename "Truffle - Explorer" to "Contract Explorer""
The use of the "Truffle" prefix is somewhat redundant and "Contract Explorer" disambiguates it from the "Explorer" tab / view.

<img width="202" alt="Screen Shot 2022-07-01 at 5 02 15 PM" src="https://user-images.githubusercontent.com/210755/176972562-018c134e-7ac4-4522-980b-adad8bd5e262.png">

[2022-07-03 18:10] NikolaiSch commented on #69
@kevinbluer can you give some detail on how you would like this to be implemented?

[2022-07-04 15:55] NikolaiSch opened #124 "Should switch from JQuery to reduce size?"
Is there is any reason to continue using jquery instead of a smaller framework, for example Svelte for that single page app in `/resources/welcome`?

I have experience in web development, so if you would want me to rewrite it to minimise size, let me know

[2022-07-05 01:51] richwealthyandsuccessful opened #125 "Can't get ganache to start or open since following the installation guide"
I followed the installation guide for Truffle VSCode:

https://trufflesuite.com/docs/vscode-ext/installation-guide/

But now I'm attempting the command `Truffle: Start Ganache` it's asking me to "select ganache server" which I don't know?

Alternatively, when I try the command `Truffle: Connect to Network` it lets me select a destination, then gives me a 4 digit number, but then it throws a red bo

[2022-07-05 09:00] xhulz commented on #125
Hi @richwealthyandsuccessful,

Thank you for reaching out to us :)

I just created 2 screen recordings about `Truffle: Start Ganache` and `Truffle: Connect to Network`.

`Truffle: Start Ganache`: This command will only works once you have a Ganache instance created on your Network View Panel. To create a new Ganache instance, you can choose the command `Truffle: Create a new Network`

https://user

[2022-07-06 02:52] richwealthyandsuccessful commented on #125
Hi xhulz,

Thank you very much for your swift reply and the video tutorials we're very helpful in understanding where I was going wrong here.

I will implement your advice now and confirm the results.

Speak soon

Marcus

[2022-07-06 03:39] richwealthyandsuccessful commented on #125
Hi xhulz,

Good news, I was able to get ta little bit of progress, so I've created a new Ganache instance with the command `Truffle: Create a new Network` but then the following step whereby I right click "development" and choose "Start Ganache" results in a quick blip of data in the output, which then quickly disappears. Meanwhile the notification appears "Ganache server successfully started."

I

[2022-07-06 03:44] richwealthyandsuccessful commented on #125
[Screen recording 2022-07-06 4.41.38 AM.webm](https://user-images.githubusercontent.com/107651170/177463549-90c80b5a-3264-45f0-96ef-c62e3c73a983.webm)

[2022-07-06 08:52] xhulz commented on #125
Hey @richwealthyandsuccessful,

Thank you again :)

The most likely cause is that the global modules installation directory is not in your path, because when you type "ganache", your system doesn't recognize the command

Please have a look here:

 - https://stackoverflow.com/questions/69921649/command-not-found-ganache-cli
 - https://ethereum.stackexchange.com/questions/120292/unable-to-use-ganach

[2022-07-06 14:04] Blu3Jy opened #128 "Node.js is not detected as installed globally even if it is on MacOs"
The extension does not detect Node as installed

Mac Os Monterey 12.4 (21F79)

npm list -g --depth 0
/Users/useruser/.nvm/versions/node/v17.7.2/lib
├── corepack@0.11.2
├── ganache@7.3.2
├── ipfs@0.63.5
├── npm@8.13.2
└── truffle@5.5.20

node --version
v17.7.2

nvm --version
0.39.1

The Node LTS version also does not work, VS Code does not see it.

[2022-07-06 14:20] xhulz commented on #128
Hey @Blu3Jy!

Thank you so much for reaching out to us.

Today the Truffle VSCode extension is limiting the node version between 14.0.0 and 17.0.0.

FYI, this problem was related here: https://github.com/trufflesuite/vscode-ext/issues/115

Thanks!

[2022-07-06 17:04] Blu3Jy commented on #128
Yeah thanks, i was also able to figure it out, here is a Stackexchange question that addresses the same issue.

https://ethereum.stackexchange.com/questions/129301/why-vs-code-not-recognizing-the-node-version/131301#131301

I think it's important to note that i had to specify the default alias node version to "lts/*" in order for VS Code to recognise it, because when i had tried to use a version b

[2022-07-07 04:34] richwealthyandsuccessful commented on #125
Hi @xhulz

Thank you for clarifying, I will definitely take a look at the links you've recommended and lets see if we can get any further along with this installation.

I'll update you with my progress.

Kind Regards

Marcus

[2022-07-07 08:37] xhulz commented on #128
Hi @Blu3Jy!

Thank you again for letting us know about the "lts/*". We are investigating it :)

In the meantime, we are preparing a new release with more information about the min/max versions.

I'm gonna close this issue, but feel free to open it again anytime :)

Cheers!

[2022-07-07 08:37] #128 closed

[2022-07-07 16:08] Blu3Jy opened #129 ""Show Smart Contract Interaction Page" missing"
There is no "Show Smart Contract Interaction Page" button even after building and deploying to ganache.

<img width="315" alt="Screenshot 2022-07-07 at 18 04 40" src="https://user-images.githubusercontent.com/102261403/177819872-23d12fa3-8cca-4239-9cd5-6c57c66e1997.png">

System info:
Macbook Air M1 16gb unified memory - 512 GB Storage
Mac Os Monterey 12.4 (21F79)

[2022-07-07 18:01] kevinbluer commented on #129
Hey @Blu3Jy, thanks for reaching out! Can you confirm where you saw the reference to that feature as it's been deprecated for a while now (although it's something that should be coming back in [Truffle Dashboard](https://trufflesuite.com/docs/truffle/getting-started/using-the-truffle-dashboard/) quite soon).

In the interim, one alternative approach to interacting with your contracts is via `truff

[2022-07-07 19:11] Blu3Jy commented on #129
Found it here:

https://trufflesuite.com/docs/vscode-ext/interacting-with-your-smart-contract/#interact-with-your-contract

[2022-07-07 20:07] NikolaiSch commented on #124
@kevinbluer, ill get a quick mockup of a suggestion, just so you can see whether or not its a logical improvement.

[2022-07-07 20:48] kevinbluer commented on #129
Argh, good spot! That page should technically been removed when the feature was depreciated (will get it removed shortly). Super sorry for any confusion.

As mentioned, any assistance with interacting with your contracts via the console, just let us know either on this thread or a new [Github discussion](https://github.com/orgs/trufflesuite/discussions).

[2022-07-07 21:11] kevinbluer opened #130 "CI status icon broken on README / marketplace page"
See the following:

<img width="310" alt="Screen Shot 2022-07-07 at 4 09 18 PM" src="https://user-images.githubusercontent.com/210755/177872085-41ac3147-1a0a-46a5-88cc-81c6b29621a1.png">

[2022-07-07 21:17] kevinbluer opened #131 "Slow loading of the Networks view"
Not sure if it's just local to my machine, but currently it takes ~3-5 seconds to load the networks tab.

<img width="372" alt="Screen Shot 2022-07-07 at 4 13 56 PM" src="https://user-images.githubusercontent.com/210755/177872409-5ec78b96-3ff6-4460-b55e-7b0d3b998e80.png">

<img width="367" alt="Screen Shot 2022-07-07 at 4 15 47 PM" src="https://user-images.githubusercontent.com/210755/177872664-d5

[2022-07-07 21:26] kevinbluer opened #132 "Add a New Project option to Explorer view if project isn't detected"
<img width="308" alt="Screen Shot 2022-07-07 at 4 24 32 PM" src="https://user-images.githubusercontent.com/210755/177873962-3cf382b8-bbd4-4e82-9394-87a23b15fd88.png">

More detail to follow.

[2022-07-08 01:39] michaeljohnbennett commented on #124
sure, give it a shot, I think this is quite an older historical choice for the page and elements. Will need to see how this interacts with the typescript backing files as these pages act akin to an MVC style app.

[2022-07-08 02:44] PeterFrucht opened #133 "Test item, July 5"

[2022-07-08 08:05] NikolaiSch commented on #124
I have one question, where is the acquireVsCodeApi() function defined? is that a native vscode api that is provided?

[2022-07-08 10:30] xhulz opened #134 "Deployment Panel is not getting updated after contract deployment"
*** Problem
Deployment Panel is not getting updated after contract deployment even clicking on refresh button. Clicking over "No Contract Built/Deployed" an error message is displayed.

<img width="1681" alt="Screenshot 2022-07-08 at 10 14 17" src="https://user-images.githubusercontent.com/32708942/177973454-7d4a5386-3460-4e6c-9563-fc752a70e80f.png">

[2022-07-08 11:25] acuarica opened #135 "`Deploy Contracts` context menu fails when the selected contract is not directly in the `contracts` folder"
In the **Explorer - Truffle** view, the `Deploy Contracts` context menu fails if the contract to deploy is not directly inside the `contracts` folder, raising an  _Truffle configuration file not found_ error. The `truffle unbox optimism` has this kind of structure. For example

![issue87op-1657278945091](https://user-images.githubusercontent.com/4592980/177982200-16ce1cd5-4cd9-43fe-9af2-1793919875

[2022-07-08 11:26] xhulz commented on #131
Hey @kevinbluer,

We have 2 problems here:

1. Loader: If you go to the docker extension and open it, you will see that each tab has its own loader. In our case, the only loader is configured on Network Tab, and all initialization(requeired apps, debbuger, constants, tree manager...) is happening inside this loader. We have to put loaders on all these tags, and make their initializations independe

[2022-07-08 11:39] xhulz commented on #135
Hey @acuarica,

We are having to do a lot of treatments because the Workspace Library is not working on Windows 11. The issue is occurring inside this method, shown below. Feel free to fix that :)

![Screenshot 2022-07-08 at 12 33 44](https://user-images.githubusercontent.com/32708942/177985218-da7a8a98-8e1f-4418-8809-fc54c2f01076.png)

[2022-07-08 11:50] acuarica commented on #135
Thanks for the heads up. I believe that the Windows 11 and this issue are different, the root cause for this issue being the contract build path has been hardcoded.

![image](https://user-images.githubusercontent.com/4592980/177986365-1fd7fcb0-c41d-4326-b011-5ea6da53ffc8.png)

[2022-07-09 04:25] richwealthyandsuccessful commented on #125
Hi Xhulz,

Thanks again, so we've made a little bit more progress from the last step, I read the Q&A from the links you provided and from what it appears I needed to use:

`$sudo npm install -g ganache`
or
`npm install -D`

Then I was able to move further along with your steps.

I followed the step "create a new network" (ganache instance) and it didn't glitch this time, instead it showed me the a

[2022-07-11 00:12] michaeljohnbennett commented on #132
I think this is pretty simple, following the code that is in there right now in the package.json its an easy addition to add a new button targeting the new project action.

[2022-07-11 00:13] michaeljohnbennett commented on #124
I think so, the engine has an api, it will be documented in the VSCode API docs somewhere. I'm not exactly sure where.

[2022-07-11 00:14] michaeljohnbennett commented on #134
ok, I shall I have a look.

[2022-07-11 00:17] michaeljohnbennett commented on #135
this was hardcoded at the beginning to get it working on base projects. Fixing this code to either have a function to resolve the build paths in monorepos or some other method would be the best idea now we have the ability to handle monorepos. @xhulz maybe able to point you in the direction of teh code that does that so you can fix this.

[2022-07-11 07:05] michaeljohnbennett commented on #130
Fixed it to base off the CI checks on `develop`/`master` right now.

[2022-07-11 07:05] #130 closed

[2022-07-11 07:05] michaeljohnbennett commented on #134
I think this is perhaps related to #135 raised by @acuarica?

[2022-07-11 08:40] xhulz commented on #125
Hey @richwealthyandsuccessful!

Glad to hear about your progress :)

Ok, these are two different options.

If you chose "Create a network" and got your Ganache instance running, you can now deploy contracts to that instance. You do not need to do anything else. Now, you are able to do some contract deployments on it.

About "Connect to a network", you will only use it when you have an external ins

[2022-07-11 08:43] xhulz commented on #134
Hey @michaeljohnbennett,

Yes, exactly. @acuarica has been working on that :)

Thank you!

[2022-07-11 21:36] kulho commented on #97
Hey @kevinbluer, I just tested with the latest release and it is still not working correctly.

If you do not start the Ganache instance manually - by right click start or via Truffle: Start Ganache it will not run a forked version of Ganache even though you selected it to be. Deploying to development will only launch a local network, not a fork. Scroll in your output higher and see if you get the

[2022-07-11 22:53] kevinbluer commented on #97
Hey @kulho, thanks for the follow-up and your patience while we get this resolved! Regarding the first screenshot (_without starting the ganache manually - not being forked_) where is that output coming from? The reason I ask is I believe if you've just added the forked network it won't have started yet. In the second screenshot, that looks correct in that you've manually started Ganache. Few thou

[2022-07-11 22:59] kevinbluer commented on #97
Also should note that I'm seeing the `eth_getBlockByNumber` polling occur on either a forked or non-forked network.

[2022-07-11 23:19] kevinbluer commented on #97
Initial response re the `eth_getBlockByNumber` polling...

Also it can be turned off by setting the `disableConfirmationListener` network option to `true` in your `truffle-config.js`...e.g.

[code]

[2022-07-12 09:37] kulho commented on #97
It is coming from the "Truffle: Ganache Server:8545" which is started by the deployment of the contract.

Either that or at least if I deploy contracts to that (added forked) network it should start the forked one and not a local one.

I have also found this but it does not change anything for me if I add it to the config.

[2022-07-12 12:51] acuarica opened #137 "Remove `python` app checks from auxiliary apps"
Python was declared as an auxiliary app, but it is not needed anymore[1]. It is shown as a required app in the Output channel, but the extension never checks if it is installed. This produces an inconsistent output.

![image](https://user-images.githubusercontent.com/4592980/178493765-181d9066-b31b-47e6-af55-da8d76ddd94c.png)
(log was modified to display executing command and arguments)

By removi

[2022-07-12 15:25] acuarica opened #138 "Fix `Truffle: Start Ganache` command when invoked from the command palette"
The `Truffle: Start Ganache` command (linked to **`truffle-vscode.startGanacheServer`** command id) raises a `Cannot start ganache server` error when invoked directly from the command palette. It actually displays a picker to allow the user to select the service to be started.

![truffle-sample-project-1657638940552](https://user-images.githubusercontent.com/4592980/178525392-024ce132-266b-4487-95

[2022-07-12 21:39] kevinbluer commented on #137
As discussed, yeah all good to go ahead and remove the check. Also thanks for adding the `refactor` label 👌

[2022-07-12 21:42] kevinbluer commented on #138
Great spot @acuarica!

[2022-07-12 21:59] #137 closed

[2022-07-13 08:41] xhulz opened #140 "Contract deployment is not forking networks"
When you try to deploy a contract on a forked network, the system starts it as a standard non-forked network

Related to the issue: https://github.com/trufflesuite/vscode-ext/issues/97

![xpto-1657701498814](https://user-images.githubusercontent.com/32708942/178690163-35f96f02-cc84-4626-88c5-c3d0781c0af3.gif)

[2022-07-13 08:49] xhulz opened #141 "Debug only works with Ganache Development Instance"
Debug transaction is working with Ganache development instance only. If a new Ganache instance is created with another name, and a new contract is sent to it, a Debug attempt causes a system error.

Related to the issue: https://github.com/trufflesuite/vscode-ext/issues/97

![xpto-1657702042444](https://user-images.githubusercontent.com/32708942/178691969-f65ff2d3-bcc7-400a-8285-e64b660c8e2a.gif)

[2022-07-13 15:30] #129 closed

[2022-07-13 15:32] kevinbluer commented on #39
Closing for issue maintenance 👍

[2022-07-13 15:32] #39 closed

[2022-07-13 15:35] kevinbluer commented on #133
Hey @PeterFrucht given this is just a test, I'm going to close for issue maintenance.

[2022-07-13 15:35] #133 closed

[2022-07-13 15:39] kevinbluer commented on #24
Hey @kevinbluer, super sorry for the delay in getting to this one! There's been a some changes to the logic in the dependency look checks that might resolve this if you're happy to try again?

cc @xhulz for reference.

[2022-07-13 15:53] kevinbluer commented on #77
Done ✨

[2022-07-13 16:03] kevinbluer commented on #52
Added in `v2.3.0` 👍

[2022-07-13 16:03] #52 closed, assigned to xhulz

[2022-07-13 16:19] kevinbluer commented on #138
Just spotted that we also had this https://github.com/trufflesuite/vscode-ext/issues/68 (as opened by @xhulz a couple of months ago). I'll go ahead and close it in favor of this one given it's largely duplicative (and I think was more related to the extension activation lifecycle).

[2022-07-13 16:19] kevinbluer commented on #68
Closing in favor of https://github.com/trufflesuite/vscode-ext/issues/138

[2022-07-13 16:19] #68 closed

[2022-07-13 16:39] acuarica commented on #68
Hi @kevinbluer, thanks for taking care of this. Just for reference, I believe that this issue was fixed in

https://github.com/trufflesuite/vscode-ext/commit/8950b3ad19f3a944ad251df2ea2845d7e0c03608#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R57-R58

when both `truffle-vscode.startGanacheServer` and `truffle-vscode.stopGanacheServer` were added to the `activationEvents` l

[2022-07-13 16:44] #77 closed

[2022-07-13 19:36] kevinbluer opened #143 "Improve the error notification when debugger encounters an error"
Currently, when attempting to start the debugger, if the Ganache (or equivalent) instance isn't running, it displays the following:

<img width="343" alt="Screen Shot 2022-07-13 at 2 28 31 PM" src="https://user-images.githubusercontent.com/210755/178815998-ad7bc497-32d7-4b7f-817d-0314934a6b76.png">

Let's change the text to something like the following: "Unable to start the debugger. It's possible

[2022-07-13 19:53] kevinbluer opened #144 "Include open dashboard link at top-right of dashboard container"
See the (fancy) green dot below. This would go to the same destination as that of "Open Dashboard in Web Browser" (when right-clicking).

<img width="319" alt="Screen Shot 2022-07-13 at 2 49 02 PM" src="https://user-images.githubusercontent.com/210755/178820698-bb69ac5f-8649-4c37-8e77-a3af96d33ca3.png">

[2022-07-13 21:50] kulho commented on #97
Hey @kevinbluer, thanks for your support. I made a giff to better illustrate what I am doing :)
![bug](https://user-images.githubusercontent.com/38033987/178840637-d5b63ab2-ee56-4300-b566-1a66c42f2ef6.gif)

It kinda has 2 parts:
First illustrates the new issue (#140 ) with the development network, but the debugging is working.
The second is the debugging issue on the forked network.

[2022-07-13 22:30] kevinbluer opened #145 ""Truffle Console" tab (with dropdown to select from available networks)"
<img width="968" alt="Screen Shot 2022-07-13 at 2 46 40 PM" src="https://user-images.githubusercontent.com/210755/178847941-0c04aea7-b257-4e99-8b46-764ac26f28dc.png">

Details to follow.

[2022-07-13 22:36] kevinbluer commented on #97
Awesome, thanks for recording that @kulho (and likewise thanks so much for the support). Re the first one, it's already cued up for the [next sprint](https://github.com/orgs/trufflesuite/projects/22/views/1) so all good there 👌

Re the second and debugging on the fork, I'm able to repro myself too (the gif definitely helped so thanks again for that). I'll relay to the team and we'll aim to come ba

[2022-07-13 23:23] kulho commented on #97
No problem, glad to be useful.

There is one offtopic regarding the debugging features I would like to ask. Are you planning to or have you implemented the "fetch external sources" option for the native vs code debugger as well? That would be amazing. I am referring to this feature of the truffle debugger https://trufflesuite.com/blog/debugging-verified-external-contracts-with-truffle-debugger/

[2022-07-14 00:14] frankiefab100 commented on #143
I will like to fix this.

[2022-07-14 00:50] kevinbluer commented on #143
Hey @frankiefab100, that would be awesome! Feel free to check out the [contributing guidelines](https://github.com/trufflesuite/vscode-ext/blob/develop/CONTRIBUTING.md) which should give a good overview of process, although feel free to ping here with any questions, etc too.

Thanks again and excited for the contribution 🥳

[2022-07-14 04:42] richwealthyandsuccessful commented on #125
Thanks for your help @xhulz I will take onboard what you've mentioned above.

I'm trying to deploy the contract I've been building based on a tutorial but it appears that when attempting to deploy my contract using `python deploy.py `or `python3 deploy.py` the following error is returning.

[code]
my code so far is as follows...

[code]

Abit stuck again unfortunately, would you happen to know wha

[2022-07-14 08:43] xhulz commented on #137
Hey guys, sorry for the delay.

Maybe we need to re-think about the python validation.

I think Python validation is required app because Windows needs the `npm install --global windows-build-tools` installed before install `npm install -g truffle`. It's not a Truffle problem at all, but maybe the Microsoft guys put the python validation there to avoid problems like that: https://stackoverflow.com

[2022-07-14 09:39] acuarica commented on #137
Hi @xhulz,

According to https://github.com/microsoft/vscode-azure-blockchain-ethereum/issues/67#issuecomment-722619465, it seems Python is not needed anymore. The Python code was not being executed in any case. I believe it's better if we remove it for now to avoid confusion.

[2022-07-14 09:42] xhulz commented on #137
Hey @acuarica!

Thank you for letting me know. I was afraid to get problems on Windows as we had in the past :)

[2022-07-14 09:47] #138 closed

[2022-07-14 09:53] frankiefab100 commented on #143
Please which directory can I find this issue?

[2022-07-14 10:08] FalconX2022 opened #147 "Truffle for vscode not detecting nodejs 16.16.0 LTS"
Hello
I'm new to this , I saw that there are some open issue for the same problem , it seems there is a work around to indicate the version
can someone help or send me a link how to fix this issue ?
Edit : using windows 10
thanks

[2022-07-14 15:59] kevinbluer commented on #143
Turns out it might not be as simple as what I first thought (although still not too tricky) 😄  From a quick review it looks like that error is actually coming from web3, specifically [this call](https://github.com/trufflesuite/vscode-ext/blob/develop/src/debugAdapter/transaction/transactionProvider.ts#L28) to `getBlockNumber()`. One approach could be to wrap it in a `try...catch` and include the a

[2022-07-14 16:12] kevinbluer commented on #97
Awesome suggestion @kulho and it's something we've actually talked about implementing! Any interest in creating a new issue for it (as we don't actually have one yet)? 🙌

[2022-07-14 16:34] acuarica commented on #76
Hi @NikolaiSch, thanks for bringing this up, it would be great to visualize Truffle tests within VS Code. I would argue for option no. 2 https://github.com/trufflesuite/vscode-ext/issues/76#issuecomment-1121981002

This would be easier for developers who are already familiar with Mocha and allows them to reuse the _Mocha Test Explorer_ extension out of the box. Moreover, it will keep the _Truffle

[2022-07-14 16:49] kevinbluer commented on #147
Hey @FalconX2022, thanks for reaching out! Interesting, as Node 16 is definitely supported by the extension. We do have a [installation troubleshooting guide](https://trufflesuite.com/docs/vscode-ext/installation-guide/) which includes some details on installing Node on Windows, which could be worth a look.

Beyond that, would you be able to provide a screenshot(s) of where / how it's failing? E.g

[2022-07-14 17:30] FalconX2022 commented on #147
it seems that I had an old version of the build tools of code , I followed the guide you have indicated and downloaded the tools from 2022 and now seems to be ok
thank you

[2022-07-14 17:30] #147 closed

[2022-07-14 18:39] kevinbluer commented on #147
Awesome, thanks for the heads up @FalconX2022, glad it's resolved!

[2022-07-14 18:42] kevinbluer commented on #125
Hey @richwealthyandsuccessful, just to weigh in on this one...the above migration looks Python based which is a little different to the typical way in which you'd do the equivalent in a Truffle project (see this guide to [Running Migrations](https://trufflesuite.com/docs/truffle/getting-started/running-migrations/) for more detail).

That said, happy to try and help if we can. First thing to note

[2022-07-14 19:38] frankiefab100 commented on #143
okay, I will like to get everyone tagged here, their opinion/input on how to go about it.

[2022-07-14 21:25] kulho opened #149 "Implement fetch external sources feature to the debugger"
Opened per request by @kevinbluer in #97

Implement the fetch external sources option for the native vs code debugger. Feature from the truffle debugger in question: https://trufflesuite.com/blog/debugging-verified-external-contracts-with-truffle-debugger/

[2022-07-15 00:32] PeterFrucht opened #150 "TEST ISSUE 1"
#152

[2022-07-15 00:33] PeterFrucht opened #151 "TEST ISSUE 2"

[2022-07-15 00:34] PeterFrucht opened #152 "TEST ISSUE 3"

[2022-07-15 00:40] PeterFrucht opened #153 "TEST ISSUE 1"

[2022-07-15 00:41] PeterFrucht opened #154 "TEST ISSUE 2"

[2022-07-15 00:41] PeterFrucht opened #155 "TEST ISSUE 3"

[2022-07-15 00:44] PeterFrucht commented on #154
[] #153

[2022-07-15 06:33] #150 closed

[2022-07-15 06:33] #152 closed

[2022-07-15 06:33] #153 closed

[2022-07-15 15:27] PeterFrucht opened #156 "Enable developer to have access to IPFS in order to deploy related artifacts outside of the blockchain"
#157 Enable Truffle developers to run an IPFS node

[2022-07-15 15:27] PeterFrucht opened #157 "Enable Truffle developers to run an IPFS node"

[2022-07-15 15:27] PeterFrucht opened #158 "Enable Truffle developers to access IPFS through the VS Code UI"

[2022-07-15 15:27] PeterFrucht opened #159 "Provide a visual representation of deployment progress"

[2022-07-15 15:27] PeterFrucht opened #160 "Provide a facility for unpinning artifacts"

[2022-07-15 15:28] PeterFrucht opened #161 "Visually indicate the status of unpinned artifacts in IPFS as such"

[2022-07-15 15:28] PeterFrucht opened #162 "Provide a facility for viewing what’s been stored in IPFS"

[2022-07-15 15:28] PeterFrucht opened #163 "Persist the CID provided once the it is provided by IPFS"

[2022-07-15 17:46] #156 closed

[2022-07-15 17:46] PeterFrucht commented on #156
#158

[2022-07-15 22:43] kevinbluer commented on #149
Thanks again for raising / opening this @kulho! I was just discussing with a couple of folks on the team and we're going to begin scoping it during the next sprint (with a view to _hopefully_ implementing it during the following). We'll update in the thread here as things progress 👍

[2022-07-16 19:16] richwealthyandsuccessful commented on #125
Hi @kevinbluer thanks for giving your input here, I've followed your advice I believe and now the endpoint is deploying to `http://127.0.0.1:7545` I'm currently a little bit further ahead on this project, but still having trouble deploying the contract.

I'm trying to execute `python3 deploy.py` but facing the following error:

[code]
My code is as follows:

[code]
Not sure what's up here?  Here i

[2022-07-18 11:39] xhulz opened #165 "Required app was validating NPM local packages"
As @emilyJLin95 reported, the required app validation is validating NPM local packages, and it is causing problems.

### Log

Get version for required apps: node,npm,git,truffle,ganache
[Truffle: Execute command] v16.16.0
[Truffle: Execute command] 8.11.0
[Truffle: Execute command] git version 2.32.0 (Apple Git-132)
[Truffle: Execute command] truffle@1.0.0 /Users/emilylin/truffle/ethcc/truffle
`--

[2022-07-18 13:45] xhulz opened #166 "Fix: Revert the commands on activationEvents list (package.json)"
I got a message from vsc package creator that it's not a good idea to keep the * on activationEvents, because the extension can cause performance issues

[2022-07-19 04:12] richwealthyandsuccessful commented on #125
Hi @kevinbluer thanks for your feedback and support. I totally understand your point regarding this being out of your scope, I will definitely consider the option you mentioned above just in case i can't get this to work.

Meanwhile I'm going to try to see if I can figure out how to set the gas price/ or tinker with my eth funds. However, I do seem to have sufficient funds already in the account,

[2022-07-19 12:19] acuarica opened #168 "Review command ID categories and those who begin with `truffle-contract`"
The `package.json` file defines two different categories for commands displayed in the Command Palette, `Truffle` and `Blockchain`. To avoid confusion, we should remove the `Blockchain` category. And some command IDs are duplicated, for instance, `truffle-vscode.showWelcomePage`.

Moreover, in `package.json` there are 3 commands that begin with `truffle-contract`.

[code]

This might be confusing

[2022-07-19 14:01] acuarica opened #169 "Review required and auxiliary apps requirements"
We are seeing and increasingly number of issues and PRs due to validation of Required and Auxiliary, **dependency**, apps, _e.g._, #66, #71, #74, #117, #136, #137, #147, #165.

Currently the extension declares 5 dependency apps. Currently these are `node`, `git`, `npm`, `truffle` and `ganache`. In order to avoid future issues related with these dependencies, we should improve the usage and validat

[2022-07-19 15:52] xhulz commented on #169
Hey @acuarica, thanks for taking care of this 😎

**My thoughts:**

- I think we should only validate using `--version` command or similar and not validate NPM and stuff.
- Git validation doesn't make sense to me.
- The validation routine must be performed in the background.

**My only concern regarding running in background:**

In the past we had problems because some pieces of validation was runn

[2022-07-19 15:54] kevinbluer commented on #169
Hey @acuarica, quite on board with approach! Do you have an estimate in terms of approx effort that might take?

It also feels logical that we consider #100 as we explore this too. E.g. when executing a build, it does a check of the availability of the selected SDK. Only consideration is the potential overhead of doing this each time 🤔

<img width="387" alt="Screen Shot 2022-07-19 at 10 47 35 AM"

[2022-07-19 16:52] acuarica commented on #169
Hi @kevinbluer, thanks for your feedback. I'll edit the description so we include a reference to #100.

Regarding the estimate, I'm not sure how much effort it would take since there is no clear solution yet. Given said that, if I have to provide a rough estimate, I would say around 1 week.

[2022-07-20 08:15] #166 closed

[2022-07-20 08:18] #165 closed

[2022-07-20 13:14] #105 closed

[2022-07-21 09:15] #21 closed

[2022-07-21 12:23] #91 closed

[2022-07-21 12:23] #87 closed

[2022-07-21 13:07] ch4dwick commented on #24
I just updated to the latest copy and the issue still persists.

[2022-07-21 20:21] acuarica opened #173 "Unable to Debug Transaction in release `2.3.5` nor `2.3.6`"
When executing the `Debug Transaction` command, the Debug view gets focus but Debug is not started. See video for more details.

https://user-images.githubusercontent.com/4592980/180306138-1aa995d0-0a43-430f-bccd-f41c6d1611c3.mp4

Instead, when executing the extension directly from VS Code, _i.e._, in "Debug mode", it works properly. That is, the respective contract opens and Debug process starts,

[2022-07-21 20:45] acuarica commented on #173
After investigating this issue, the problem arises when executing the bundled extension, _i.e._, using webpack. It seems that the refactor introduced in https://github.com/trufflesuite/vscode-ext/pull/119 uses the `vscode` api called indirectly from `debugger.ts`[1]. It is not stated clearly[2], but since the debugger is a separate process, it looks like the debugger itself cannot rely on the `vsc

[2022-07-22 02:09] ch4dwick commented on #24
Hey, I don't know what I did but I tried doing an npm -g update on my machine today but everything's working now:
Get version for required apps: node,npm,git,truffle,ganache
[Truffle: Execute command] v16.15.0
[Truffle: Execute command] 8.5.5
[Truffle: Execute command] git version 2.34.1
[Truffle: Execute command] Truffle v5.5.21 (core: 5.5.21)
[Truffle: Execute command] Ganache v7.2.0
[Truffle: E

[2022-07-22 05:27] #173 closed

[2022-07-22 07:36] michaeljohnbennett commented on #24
Hey @ch4dwick there is some issues with node/npm versions and truffle right now.

LTS (v16.x) and NPM 6 is the most stable and will install fine, not sure about NPM 8 but if its working then great news!

The node versions and npm are requirements of the main truffle packages and not the extension itself, we are hoping to make this better in the future as its got to do with transient dependencies i

[2022-07-22 08:46] luc-murat opened #175 "Cannot signed in to Infura account"
When I try to create a new network with Infura Service, I have this error message when I click on the "sign in" button :
**listen EADDRINUSE: address already in use 127.0.0.1:9010**

[2022-07-22 09:50] luc-murat commented on #175
After some research on the source code, I note that the authorization url used doesn't work right now :
    **Constants.infuraAuthUrls.baseURL =  'https://oauth.infura.io/'**
The requested route doesn't exist (404).

[2022-07-22 13:12] xhulz commented on #175
Hey @luc-murat!

Thank you for reaching out! I've just reproduced your steps and I ain't got the error. But after I sign out and sign in again, I've got the error. It seems a problem with the process that hasn't been killed.

Thank you for raising this issue. We will notify you as soon as the problem is resolved.

Cheers!

[2022-07-22 16:53] kevinbluer commented on #24
Likewise, thanks for the update @ch4dwick and that's great news! I'll go ahead close this one for now in favor of https://github.com/trufflesuite/vscode-ext/issues/169 (which is addressing the issue more holistically), but definitely feel free to open further issues or [discussions](https://github.com/orgs/trufflesuite/discussions/categories/vscode-extension) now you can actually use it 😅

[2022-07-22 16:53] #24 closed

[2022-07-22 22:05] kevinbluer commented on #175
Likewise, thanks for raising this @luc-murat! We've seen some occasional quirks with the login flow before so it likely warrants some minor refactoring / improved error handling.

As an interim step, if you're on MacOS / Linux, you can run `kill $(lsof -t -i:9010)` to manually kill the spawned process and try again.

Also just regarding this, I believe that route doesn't accept `GET`'s, hence the

[2022-07-23 07:43] emilyJLin95 opened #176 "VS Code Side bar can't find compiled contracts when not in truffled directory"
1. Open react box
2. Compile contracts (which build to client folder, not truffle folder)
3. Go to extension, open up truffle contract
4. Click on deployments
5. Can't find the deployed contracts

<img width="1693" alt="Screen Shot 2022-07-19 at 6 04 49 PM (1)" src="https://user-images.githubusercontent.com/17280653/180595741-e9cf0428-7ff6-453b-978c-adef77ed7d4b.png">

[2022-07-26 16:02] #144 closed

[2022-07-26 21:48] #94 closed

[2022-07-26 21:51] #168 closed

[2022-07-26 22:47] kevinbluer commented on #106
We good to close this one now @michaeljohnbennett?

[2022-07-27 01:13] #106 closed

[2022-07-27 08:32] #141 closed

[2022-07-27 19:03] kevinbluer commented on #105
Hey @NikolaiSch, quick heads up that `v2.4` (with your contribution) is now in live 🥳 See the [announcement](https://github.com/orgs/trufflesuite/discussions/5364) for more details.

Thanks again and more contributions always welcome!

[2022-07-27 21:01] bbest-blockpass opened #180 ""Show Smart Contract Interaction Page" doesn't show in context menu"
After deploying my contract to my local ganache blockchain the "Show Smart Contract Interaction Page" option is not available.
I'm using Windows 10.

[2022-07-28 04:33] benjamincburns opened #239 "Enhancement: Automatically include correct global types for TypeScript scripts (migrations, tests, exec scripts, etc) when using Truffle VSCode plugin"
## Enhancement

Much of the value of TypeScript comes at editing time, when the developer can write code with the benefit of inline type hints, typedoc, etc. In order to enable this value for our users, the VSCode plugin should detect when a developer is editing a TypeScript file and apply the appropriate global types to the language server instance.

[2022-07-28 14:26] #134 closed

[2022-07-28 14:26] #176 closed

[2022-07-28 14:49] xhulz commented on #83
Close as completed via https://github.com/trufflesuite/vscode-ext/pull/177

[2022-07-28 14:49] #83 closed

[2022-07-28 18:29] kevinbluer commented on #180
Hey @bbest-blockpass, as mentioned [in this thread](https://github.com/trufflesuite/vscode-ext/issues/129#issuecomment-1178210500) this feature was actually deprecated, although it never got removed from the welcome page 🤦 Sorry about that!

We are actually working on a new approach to it that will be added to [Truffle Dashboard](https://trufflesuite.com/docs/truffle/getting-started/using-the-truf

[2022-07-28 18:31] kevinbluer commented on #51
Reminder for us to remove the "Show Welcome Page" (and associated command palette entry, etc) when we roll over to this.

[2022-07-28 18:33] xhulz commented on #97
Hey @kulho! How is it going?

Just a friendly reminder about the improvements:

- [Contract deployment is not forking networks #140](https://github.com/trufflesuite/vscode-ext/issues/140) - ✅ Already done and merged
- [Debug only works with Ganache Development Instance #141](https://github.com/trufflesuite/vscode-ext/issues/141) - ✅ Already done and merged
- [Debugging on a forked network #97](htt

[2022-07-28 21:15] #180 closed

[2022-07-28 22:20] acuarica commented on #92
Hi @kevinbluer,

It seems there is partial support for multiple workspaces. It enables the user to select the config file to use. However both Contract Explorer and Deployments view do not reflect these multiple workspaces.

https://user-images.githubusercontent.com/4592980/181646876-bd6d44f6-ec4d-4ace-95a1-d9e249019334.mp4

We could leverage this mechanism to include other Truffle config files, _

[2022-07-28 22:51] acuarica commented on #92
Here's a preview solving

https://user-images.githubusercontent.com/4592980/181650174-4122a267-9794-49e0-ba1d-85b6b15706f3.mp4

[2022-07-29 08:30] HoneyIsMoney commented on #128
im having the same issue, the extention is not recognising my version of node. i have tried @Blu3Jy sugestion however this is still not working for me. ive installed the LTS version and set it as the default with `nvm alias default "lts/*"` but still no joy

i am using
- MacOs Monteray `12.4`
- nvm `0.38.0`
- node LTS `16.16.0`
- zsh

[2022-07-29 08:42] xhulz opened #182 "Networks (Local Instance) - Get More Information"
In Network View, put a new option for local instances (Ganache), where the user, when clicking with the right mouse button, can see a new item on menu called "Get more information". When this option is chosen, display an HTML with information about:
 - private keys
- adresses
- mnemonic
...

Something like that:

<img width="1722" alt="Screenshot 2022-07-29 at 09 28 22" src="https://user-images.gi

[2022-07-29 08:49] xhulz opened #183 "Networks - Remove the third node"
Remove the third node from the Treeview and relocate the "Copy RPC endpoint address" option to the second node.

![Screenshot 2022-07-29 at 09 44 14](https://user-images.githubusercontent.com/32708942/181721670-4b08e806-356c-4138-92e1-b48e8df4a822.png)
![Screenshot 2022-07-29 at 09 45 07](https://user-images.githubusercontent.com/32708942/181721683-17310905-28b2-437b-86d4-a569c1f5f26a.png)
![Scree

[2022-07-29 09:03] xhulz opened #184 "Networks (Local Instance) - Show indicators that a instance is running"
When a local instance (Ganache) is initialized, we should display a description (and maybe a symbol) to indicate that the instance is up and running. This improves the usability of the instances Treeview.

E.g.:

![Screenshot 2022-07-29 at 10 03 06](https://user-images.githubusercontent.com/32708942/181724724-10200f9f-ae39-4039-9acb-dd7bad1207c0.png)

[2022-07-29 12:12] acuarica commented on #183
This looks cool @xhulz! Should we implement this only for **Ganache Service** and **Other Service**? Because the **Infura Service** nodes have a completely different structure.

[2022-07-29 12:54] xhulz commented on #183
Hey @acuarica!

Sure thing :)

[2022-07-31 10:45] zoltrader opened #185 "'truffle-vscode.newSolidityProject' not found"
'truffle-vscode.showWelcomePage' not found
'truffle-vscode.newSolidityProject' not found

**Basically, none of the truffle extension commands work**

Truffle v5.5.24 (core: 5.5.24)
Ganache v7.4.0
Solidity - 0.8.15 (solc-js)
Node v16.16.0
Web3.js v1.7.4

[2022-08-01 01:28] michaeljohnbennett commented on #185
Hi @zoltrader is this on the latest release of the plugin?

Can you paste in the output from the `Truffle for VSCode` output channel as it might help pinpoint whats going on.

To be sure, the truffle view will appear and other functions seem to show but no commands are loading?

Any screenshots you can send to figure out the problem would be appreciated.

[2022-08-01 04:11] michaeljohnbennett commented on #183
yeah makes sense, was an odd leaf node, is there much other options/elements we would want to add to these menus. Not sure what other features/options we might want in the future.

[2022-08-01 04:13] zoltrader commented on #185
Thank you for your respond, Michael.
Here is the output

Get version for required apps: node,npm,git,truffle,ganache
[Truffle: Execute command] v16.16.0
[Truffle: Execute command] npm[Truffle: Execute command]  WARN[Truffle: Execute command]  config global `--global`, `--local` are deprecated. Use `--location=global` instead.
[Truffle: Execute command] 8.11.0
[Truffle: Execute command] git version

[2022-08-01 04:18] zoltrader commented on #185
<img width="330" alt="image" src="https://user-images.githubusercontent.com/49073809/182071382-6cabe870-b6ae-4aa1-819e-1052b470c5dc.png">

[2022-08-01 08:45] xhulz commented on #185
Hey @zoltrader, Thank you for reaching out to us :)

Could you please tell us which OS and version you are using? Just to clarify, did you try clicking on the Truffle logo in the left bar before calling the command?

Thank you again :)

![truffle-1659343134679](https://user-images.githubusercontent.com/32708942/182109678-4d055783-e150-425c-bcf5-924c944e1ee5.gif)

[2022-08-01 12:45] zoltrader commented on #185
It's windows 11

<img width="230" alt="image" src="https://user-images.githubusercontent.com/49073809/182150316-e28dfc21-8753-4ef3-804a-9887a478b2eb.png">

[2022-08-01 13:20] zoltrader commented on #185
I noticed where the problem was. For some reason the path to the workspace was lost!!!. It is working fine now.
Thank you

<img width="180" alt="image" src="https://user-images.githubusercontent.com/49073809/182156319-5e0d3f03-eb2d-473a-aefb-8e974e8052d6.png">

[2022-08-01 13:20] #185 closed

[2022-08-02 18:46] acuarica opened #187 "Show `Build/Deploy Contracts` commands even when the extension is not activated"
Both `Build Contracts` and `Deploy Contracts` commands do not appear in the Command Palette when a workspace is open but the extension is not yet activated. However, after the extension has been activated, these commands appear as they should.

https://user-images.githubusercontent.com/4592980/182449058-7831811d-2f45-44b8-8b8d-408d3b5e8aae.mp4

These commands show appear in the Command Palette whe

[2022-08-02 19:30] acuarica opened #188 "Fix extension activation on an workspace with no folders"
The extension does not activate properly when a workspace is open but contains no folder.

## Steps to reproduce

1. Start out with a clear workbench.
2. Add a folder with the `Workspaces: Add Folder to Workspace...` command.
3. Remove that folder using the `Workspaces: Remove Folder from Workspace...` command.
4. Try to activate the extension with, _e.g._, `Truffle: Show Welcome Page`.

The follo

[2022-08-03 12:39] luc-murat commented on #175
Hey @xhulz,
I'd like to come back to the problem about "sign in to Infura Account".
After some research on the documentation of VS Code, I believe I found the main reason why I can't use this command.
I suppose that my VS Code configuration is quite different from yours.
I don't use VS Code on the desktop as a developer on Mac OS for example but with a remote configuration based on Windows Subsyst

[2022-08-03 13:20] acuarica opened #189 "Fix `Create Contract` command when invoked from a nested folder"
As @xhulz pointed out in https://github.com/trufflesuite/vscode-ext/pull/181#pullrequestreview-1060155346, the `Create Contract` command places the created contract in the wrong place when invoked from a nested folder

![create-contract](https://user-images.githubusercontent.com/32708942/182598287-31289eac-c236-450b-8645-cb40854ba8a7.gif)

[2022-08-04 10:16] xhulz commented on #175
Hey @luc-murat,

Thank you again for reaching out to us, and for your thorough research on truffle extension :)

Yes, sure thing! Feel free to put a PR. Please, don't forget to set @kevinbluer @acuarica, @michaeljohnbennett and I as reviewers :)

Thank you again for your contribution

Cheers!

[2022-08-04 14:02] cds-amal commented on #95
Hello @marcpre, is this still an issue?

[2022-08-04 20:28] kevinbluer opened #190 "Test"

[2022-08-04 21:17] gnidan commented on #149
Seems like there _might_ be a way to avoid writing to disk? Not sure if this works, but see [this SO answer](https://stackoverflow.com/a/55994114)

[2022-08-05 08:15] xhulz commented on #97
Hey @kulho! How is it going?

Just a friendly reminder about the improvements:

https://github.com/trufflesuite/vscode-ext/issues/140 - ✅ Already done and merged
https://github.com/trufflesuite/vscode-ext/issues/141 - ✅ Already done and merged
https://github.com/trufflesuite/vscode-ext/issues/97 - ✅ Already done and merged

Next release, all these fix will be available.

Thank you so much for you

[2022-08-05 08:24] xhulz commented on #53
Hey @kevinbluer,

This issue has already been resolved and merged. Perhaps we simply overlooked closing this one. Anyway, I'll close that, but if there are any issues, feel free to open it again.

Cheers!

[2022-08-05 08:24] #53 closed

[2022-08-05 09:27] #92 closed

[2022-08-05 11:10] acuarica commented on #40
Hi @kevinbluer, thanks for sending this. Currently the extension uses the `withProgress` API, but it _does not report_ any actual progress. However, progress is shown in the Output Channel (when sticky) which becomes visible when triggering a command, _e.g._,

https://user-images.githubusercontent.com/4592980/183064536-01c89930-dacc-488d-ad47-6469d6ba0e5c.mp4

Moreover, to use this API with progre

[2022-08-05 12:35] acuarica commented on #135
The context menu `Deploy Contracts` was removed from the _Contract Explorer_ when applied to a single contract #177.

This issue was fixed in #179.

[2022-08-05 12:35] #135 closed

[2022-08-05 19:49] emilyJLin95 opened #194 "Have new project match truffle init"
When I start a new Solidity project through the command palette, it should match the artifacts that are generated by `truffle init`

[2022-08-08 22:42] acuarica commented on #194
Hi @emilyJLin95, thanks for sending this. Currently the `New Solidity Project` command, followed by the `Create basic project` option, unboxes the [`vscode-starter-box`](https://github.com/truffle-box/vscode-starter-box). Not sure what the intended outcome should be.

@kevinbluer what should it do?

[2022-08-09 00:00] acuarica commented on #175
Hi @luc-murat, thanks for your feedback.

I was able to reproduce the error, but in a setup slightly different than yours. When I have running both a local and remote (WSL) VS Code instances, and try to sign-in in both, I see the error you mentioned.

![errcon](https://user-images.githubusercontent.com/4592980/183533818-5262ef4f-11d6-4e8a-8947-992a5c611966.gif)

Is this the configuration you have?

[2022-08-09 10:07] #187 closed

[2022-08-09 10:07] #188 closed

[2022-08-09 10:07] #189 closed

[2022-08-09 10:24] acuarica commented on #121
Fixed in #122. Thanks @NikolaiSch!

[2022-08-09 10:24] #121 closed

[2022-08-09 12:52] acuarica opened #196 "Refactor `OutputChannel` usages to completely remove `vscode-azext-utils` package"
The `@microsoft/vscode-azext-utils`[1] is used to create the `Truffle for VSCode` output channel. However, it does **not** add any extra functionality. Moreover, it adds some global state to the extension that makes it difficult to reason about.

For some context, it was also used in some `TreeView`s, but their usage was already removed here https://github.com/trufflesuite/vscode-ext/pull/179. Its

[2022-08-09 19:38] acuarica commented on #145
What do you think about having a new terminal profile? It might be easier to implement, and less clutter for the user. As a drawback, it might lose some visibility, so users might not be aware of this feature.

![image](https://user-images.githubusercontent.com/4592980/183746000-46cdb386-8394-4aa8-8424-2f3ecd4ba79b.png)

[2022-08-09 20:51] kevinbluer commented on #194
Likewise, thanks for opening @emilyJLin95! This has been on the radar to improve for a while. After briefly discussing with @acuarica earlier today, we landing on the following:

- Create empty project (_equivalent of `truffle init`_)
- Create sample project (_current [vscode-starter-box](https://github.com/truffle-box/vscode-starter-box) box with some enhancements_)
- Create project from Truffle

[2022-08-09 21:48] michaeljohnbennett commented on #145
i think so long as its noted somehow, whatever is the most common or conventional way to achieve this, it is a terminal of sorts.

[2022-08-10 03:36] #196 closed

[2022-08-10 08:01] xhulz commented on #145
Hello guys,

I'm working on that. It's not the final version yet, but it has been working fine :)

<img width="1120" alt="Screenshot 2022-08-10 at 09 00 39" src="https://user-images.githubusercontent.com/32708942/183847908-94a14d6e-b8ba-455a-be76-dac9a99d2c10.png">

[2022-08-10 10:44] acuarica commented on #194
I like the idea of including "most used" or "most relevant" boxes as first choices for the user.

Linking #25 since they are both related to having a list of boxes.

[2022-08-10 15:55] kevinbluer commented on #194
Yeah I like the idea of having (default) sorting by most used / relevant. Perhaps along with a text based filter in the same way we have it in place to filter networks when deploying?

<img width="599" alt="Screen Shot 2022-08-10 at 10 52 08 AM" src="https://user-images.githubusercontent.com/210755/183955253-428c6b37-cbd7-4419-8622-31ea6f9a9f84.png">

Also thanks for linking #25, I'll go ahead and

[2022-08-11 23:28] emilyJLin95 opened #200 "Use the Visual Debugger in `truffle test`"
When I run `truffle test`, I can't use the visual debugger, but can use `truffle test --debug`

Can we get that functionality?

[2022-08-11 23:28] emilyJLin95 opened #201 "Use Visual Debugger for `call` functions"
Currently, I can only debug transactions
Can we add debugging for `call` functions?

`truffle test --debug` does work

[2022-08-12 09:45] luc-murat commented on #175
Hi @acuarica,
I've seen your PR :+1:. Thank you for your last comment with screencasts.
To answer your question about my configuration, I was running Windows 11 with WSL2. I'm fed up with this configuration :smile: . I wanted to try but I had several issues about port mapping with other projects. Since then, I replaced Windows with Ubuntu.
For me you can close the issue, the main problem is resolv

[2022-08-12 11:07] acuarica commented on #175
Hi @luc-murat, thanks for your comment. Sure thing, I'll close this then.

Regarding the `ui-test` folder, not it's not. It's unused code, and it should be removed. It has been on my radar for a while. I'll send another PR to remove it.

[2022-08-12 11:07] #175 closed

[2022-08-12 11:33] acuarica commented on #175
As for the `ui-test` folder, here's the PR to remove it https://github.com/trufflesuite/vscode-ext/pull/202.

[2022-08-12 21:11] kevinbluer opened #203 "Running `truffle debug <txhash>` with appropriate flag (--vscode) triggers debugger to launch / run in VS Code"
Details to follow (although note it will also likely require a [Truffle CLI](https://github.com/trufflesuite/truffle) update)

some other possible requirements:

- vscode command line shortcut would need to be installed perhaps `code ...`
- what would happen if the plugin was not installed in VScode?
- What would happen if vscode wasn't installed?
- if not using the cli shortcut, how do we reconci

[2022-08-12 21:27] kevinbluer commented on #100
hey @michaeljohnbennett, incoming [from-hardhat](https://github.com/trufflesuite/truffle/tree/from-hardhat) package for the radar (cc @gnidan)

[2022-08-16 10:34] xhulz opened #207 "Remove / Improve PID number from log"
Via @acuarica

it seems there is a log entry with just a number, looks like a pid. We can either remove the entry or add some additional information.

<img width="458" alt="PID" src="https://user-images.githubusercontent.com/32708942/184859055-edc33670-670e-45e3-92a4-a79fcc6a95a8.png">

[2022-08-16 19:42] kevinbluer commented on #101
Closing as this is rolling over to a separate project 👌

[2022-08-16 19:42] #101 closed

[2022-08-16 19:53] kevinbluer opened #208 "Rename "Dashboard" view to "Integrations""
<img width="295" alt="Screen Shot 2022-08-16 at 2 52 10 PM" src="https://user-images.githubusercontent.com/210755/184972368-625a8fc1-3f94-48fa-b35c-5857dbbab651.png">

Not sure if this is a dupe (feel free to close if so)

[2022-08-16 20:01] kevinbluer opened #209 "Lightweight Scribble integration (arm / disarm / etc) under Integrations"
Following #208, Scribble integration could be a nice additional candidate. High-level thoughts as follows...

- Check to see if Scribble is installed and prompt to do so if not
- Include ability to [arm / disarm](https://docs.scribble.codes/tool/cli-usage/arm-and-disarm)
- Ability to check properties with MythX / Mythril / othe

[2022-08-18 20:43] kevinbluer opened #210 "Remove redundant txns from dialog after a redeploy"
## Issue

When you redeploy a contract without restarting the network, duplicate transactions show up in the dialog when selecting a `txhash` via `Truffle: Debug Transaction`, for example. Note that the "legacy" txns don't include the contract name.

<img width="601" alt="Screen Shot 2022-08-18 at 3 33 36 PM" src="https://user-images.githubusercontent.com/210755/185489938-06bfdb5a-0b22-4070-a507-b

[2022-08-22 16:35] kevinbluer opened #211 "Create an "auto-deploy on save" toggle in the Contract Explorer"
More details to follow.

- Launches a modal allowing the user which network to target (and possibly select the numerical prefix range)

[2022-08-24 01:49] michaeljohnbennett opened #214 "Fix Truffle Logo"
Bryan has a new logo to update on our truffle package page. Simple gfx swapout.

[2022-08-24 16:46] kevinbluer commented on #194
cc @xhulz on this given it also ties into #25 which you're about to start work on. Let's discuss if any questions 👌

[2022-08-24 17:09] xhulz commented on #194
Ok, thanks @kevinbluer!

[2022-08-24 17:20] kevinbluer commented on #149
@acuarica fancy having a dig into this one for [arbequina](https://github.com/orgs/trufflesuite/projects/28/views/1)?

[2022-08-26 12:50] A-F-V commented on #128
I am having the same problem. The issue I believe is that if you have another version of node running that you got through brew (to nvm that is `system` version) that is being prioritized and is outside the range of 14 to 17

[2022-09-05 04:28] pupudaye opened #219 "”Truffle: Debug Transaction“ Transaction list selection not triggered"
ctrl + shift + p

=> pop-up command list
=> select  ”Truffle: Debug Transaction“

issues: Transaction list selection not triggered

[2022-09-07 05:24] michaeljohnbennett commented on #183
I have been looking/refactoring the code to make this work and if we are to remove the LocalNetworkNode we need to work on the following assumptions/rules I guess:

- There will only be one port per local project name. I think is ok/normal as we can't really create more than LocalNetworkNode per LocalProject but the code is designed to have multiple.
- Debugger and some other code will be driven b

[2022-09-07 05:32] michaeljohnbennett commented on #183
The other option is to keep the network nodes and just remove the display of them but that might be more complex than it seems with the way the factory that resolves the nodes for display.

[2022-09-07 08:53] xhulz commented on #183
Yeah you are right @michaeljohnbennett. IMHO, the way this was done is very tight, and will need a lot of refactoring. Maybe for now, it would be better to keep it that way to have some time to think about the best structure for it

Thank you for that

[2022-09-07 13:45] acuarica commented on #183
Hi @michaeljohnbennett, thanks for taking care of this. I don't have a clear idea of what kind of refactoring we are taking about here. Given said that, I'm more inclined to the refactor option if you feel like it. I believe we need to lean towards a more maintainable codebase.

[2022-09-07 17:21] emilyJLin95 opened #221 "Add truffle-config.js to truffle tab"
In the truffle tab on VS Code, it'd be nice to have a section where I can edit my truffle-config, instead of having to toggle back to the explorer view

[2022-09-07 21:44] fainashalts commented on #95
Hi @marcpre thank you for opening this issue. As we haven't heard from you in a while we are closing it for maintenance. If this or another error arises, please feel free to open a new issue. Thanks!

[2022-09-07 21:44] #95 closed

[2022-09-08 22:43] michaeljohnbennett commented on #183
I can do more on this, I think the networks themselves could be embedded into the main object better, it just seems the data model is really tied to the treeview model.

[2022-09-09 08:42] xhulz commented on #145
merged ref: https://github.com/trufflesuite/vscode-ext/pull/205

[2022-09-12 01:06] #214 closed

[2022-09-12 10:10] xhulz commented on #182
ref PR #217

[2022-09-12 10:10] #182 closed

[2022-09-12 10:11] xhulz commented on #210
ref PR #225

[2022-09-12 10:11] #210 closed

[2022-09-12 10:14] xhulz commented on #194
Hey @kevinbluer and @acuarica

As suggested by you folks, i've moved the directory selection from the beginning of the flow to the end.

PR ref #226

Thank you :)

[2022-09-12 13:25] acuarica commented on #219
Hi @pupudaye, thanks for sending this.

Does the ganache instance have some transactions to select from? In other words, did you first deploy any contract to that instance? If so, can you specify the version of the extension you are running?

[2022-09-13 13:24] pupudaye commented on #219
Thanks, I have solved this problem! But I have a new problem, the source file cannot be correctly matched when debugging. What is the reason?

[2022-09-13 13:24] pupudaye commented on #219
Thanks, I have solved this problem! But I have a new problem, the source file cannot be correctly matched when debugging. What is the reason?

[2022-09-14 08:06] #25 closed

[2022-09-14 08:14] xhulz commented on #183
Hey @michaeljohnbennett!

I agree 100% with you about embedding the network in the main object. I was talking to @acuarica about that and might be a great worth refactoring that just to try to untie this code. It will take time but in the end we can have a more flexible Treeview.

Thank you again!

[2022-09-14 08:36] pupudaye commented on #219
The steps are not easy to express clearly, or can you give me some advice, how should I configure vscode setting.json and launch.json

[2022-09-14 08:52] xhulz commented on #54
cc @acuarica for visibility

[2022-09-14 08:57] xhulz commented on #99
Hi @wzquyin,

We'd like to know if the issue still persists after the release of the new versions.

Thank you! :)

[2022-09-14 16:58] kevinbluer commented on #51
Added in https://github.com/trufflesuite/vscode-ext/pull/148 🙌

[2022-09-14 16:58] #51 closed

[2022-09-14 17:01] kevinbluer commented on #97
Closing this one given it's been addressed (details above from @xhulz). @kulho feedback welcome and feel free to create new issues for anything else that comes up 👌

[2022-09-14 17:01] #97 closed

[2022-09-14 17:03] xhulz commented on #194
merged in PR #222

[2022-09-14 17:03] #194 closed

[2022-09-14 17:21] kevinbluer commented on #143
Hey @frankiefab100, heads up that this one actually got fixed in https://github.com/trufflesuite/vscode-ext/pull/170. As per my earlier comment it ended up being a little nuanced as the error was being thrown by [web3](https://github.com/ChainSafe/web3.js) so it was a case of catching it and [rethrowing with the improved error message](https://github.com/trufflesuite/vscode-ext/blob/922739b98ca611

[2022-09-14 17:21] #143 closed

[2022-09-14 19:06] kevinbluer commented on #221
Neat idea! From a UX perspective, we could display the config's properties in the same way it's done under the deployments view (see below). Also clicking a given entry could both jump you to the config file itself and the specific line for speedier editing (although this is definitely a nice-to-have).

<img width="255" alt="Screen Shot 2022-09-14 at 2 03 07 PM" src="https://user-images.githubuser

[2022-09-15 15:55] xhulz commented on #211
merge in PR #227

[2022-09-15 15:55] #211 closed

[2022-09-15 16:14] acuarica commented on #219
My best guess is that it's related to https://github.com/trufflesuite/vscode-ext/issues/54. We are experiencing some issues while debugging non-trivial Truffle projects.

We are investigating the root cause of this issue.

[2022-09-19 06:40] pupudaye commented on #54
=============================================================
The truffle development case "metacoin" can be debugged normally, but it can't be debugged properly when switching to complex projects that rely on contracts.

The steps are not easy to express clearly, or can you give me some advice, how should I configure vscode setting.json and launch.json .

Is it because of relying on third-party l

[2022-09-19 06:47] pupudaye commented on #54
This error occurs more often, of course, it is not really impossible to connect, the network is always available.

“Could not connect to your Ethereum client.
Please check that your Ethereum client:
- is running
- is accepting RPC connections (i.e., "--rpc" or "--http" option is used in geth)
- is accessible over the network
- is properly configured in your Truffle configuration file (truffle-conf

[2022-09-22 15:12] kevinbluer opened #228 "Update keywords in manifest (package.json)"
The extension marketplace only looks at the first 5 [keyword entries](https://github.com/trufflesuite/vscode-ext/blob/develop/package.json#L21-L30) in the `package.json` so let's update it to the following:

[code]

[2022-09-23 22:06] kevinbluer commented on #219
Hey @pupudaye, quick heads up that we've identified the issue and have a fix coming shortly (cc @xhulz) 👍

[2022-09-24 08:16] pupudaye commented on #219
OK thks!

[2022-09-28 19:30] kevinbluer opened #232 "New Truffle / Ganache tabs incorrectly brought into focus"
The tabs added in #145 are incorrectly being brought into focus (see below for example). As discussed, perhaps let's remove the logic for the upcoming release and give some additional thought as to what should trigger it.

![metacoin-1-1664392568009](https://user-images.githubusercontent.com/210755/192871464-1dc4695d-f912-4d81-86a3-8662e76a64d9.gif)

[2022-09-29 08:47] xhulz commented on #232
hey @kevinbluer,

I've pushed this PR to solve this problem. I just removed the line that was putting focus on truffle tab: https://github.com/trufflesuite/vscode-ext/pull/233

Thank you

[2022-10-05 16:07] kevinbluer opened #234 "Temporarily continue logging to the Truffle for VS Code output channel"
With #145 we disabled the Truffle for VS Code output channel in favor of the dedicated tabs (below). Since we're going to [hold off on the auto-focus](https://github.com/trufflesuite/vscode-ext/pull/233) let's continue to log to the `Truffle for VS Code` output channel AND the sub tabs under the new Truffle tab so as to mitigate the risk of any confusion to users.

<img width="523" alt="Screen Sho

[2022-10-05 16:42] kevinbluer opened #235 "Spurious closing bracket on "Create sample project" entry when creating a new project"
See the description on the second entry below...

<img width="600" alt="Screen Shot 2022-10-05 at 11 41 29 AM" src="https://user-images.githubusercontent.com/210755/194115238-a75dc3f0-1ead-443b-8c1e-956a6d7ab126.png">

[2022-10-06 02:11] brunsu opened #236 "fork network, local debug error "Numbers can only be safely stored up to 53 bits""
Here is the video I recorded reporting the error

[2022-10-07 23:01] OnlyOneJMJQ opened #241 "Links on Required Apps page direct to docs home rather than given VS Code Ext pages."
The Links:
* Installation or Setup Issues? Check out our [comprehensive troubleshooting guide](https://trufflesuite.com/docs/).
* [Click here ](https://trufflesuite.com/docs/)to learn more about this extension, and view the users guide.

[2022-10-09 08:16] brunsu commented on #236
@xhulz

[2022-10-10 08:09] xhulz commented on #236
Hey @brunsu!

Thank you for open this issue :)

Let me check what is happening and I'll turn to you as soon as possible.

Cheers!

[2022-10-10 08:11] xhulz commented on #54
PR ref: #229

[2022-10-10 08:12] xhulz commented on #235
PR ref: #238

[2022-10-10 10:47] xhulz commented on #236
@brunsu some questions:

- Are you using the HDWallet?
- Are you trying to debug on local Ganache?

Thank you!

[2022-10-10 12:38] xhulz commented on #234
PR ref: https://github.com/trufflesuite/vscode-ext/pull/237

[2022-10-11 07:17] denijazz84 commented on #107
ohh I didn't know that :(((
How can I delete / erase something I downloaded with sudo ?
At the end of the download it gives such error.
Can you please help me ?

added 866 packages, and audited 867 packages in 2m

92 packages are looking for funding

run `npm fund` for details

4 high severity vulnerabilities

Some issues need review, and may require choosing

a different dependency.

Run `npm aud

[2022-10-12 03:18] brunsu commented on #236
Are you trying to debug on local Ganache?
yes
I want to debug on local fork network ganache

[2022-10-12 03:19] brunsu commented on #236
yes
I want to debug on local fork network ganache

[2022-10-13 17:12] #99 closed

[2022-10-14 00:46] davidmurdoch opened #244 "This code was inserted between a comment and its target. 😿"
This code was inserted between a comment and its target. 😿

_Originally posted by @cds-amal in https://github.com/trufflesuite/vscode-ext/pull/243#discussion_r995227013_

[2022-10-26 19:12] kevinbluer opened #246 "Remove depreciated networks when creating a forked ganache instance"
When creating a forked Ganache instance (`Create new network` | `Ganache service` | `Fork`) the following are returned:

<img width="598" alt="Screen Shot 2022-10-26 at 2 07 28 PM" src="https://user-images.githubusercontent.com/210755/198114886-96e1bf8c-cd55-42d6-911a-2dafaa915a4d.png">

Given Ropsten, Kovan, and Rinkeby are [now deprecated](https://community.infura.io/t/reminder-deprecation-of-ro

[2022-10-26 19:25] kevinbluer commented on #246
This might warrant a separate issue but we'll also need to address on the Infura returned networks too:

<img width="248" alt="Screen Shot 2022-10-26 at 2 24 06 PM" src="https://user-images.githubusercontent.com/210755/198118183-0b1c8606-3f0b-4db1-a6de-2011a5241a85.png">

[2022-10-27 01:32] michaeljohnbennett commented on #246
I have had a look at this and it appears the list for the Infura section at least, is coming directly from the API calls.

![image](https://user-images.githubusercontent.com/951378/198170145-76b62f60-9ba8-4670-b95c-681693725444.png)

I think we will need to ask Infura about updating the API on their end or moving/upgrading our API calls to a newer API version.

[2022-10-27 14:00] #235 closed

[2022-10-27 14:00] #54 closed

[2022-10-27 14:00] #234 closed

[2022-10-27 15:36] emilyJLin95 opened #248 "Contracts not detected"
This is a UX irritation

If I am in a project that has a client and truffle folder, when I go to the Truffle folder, it cannot find my contracts unless I open up a new window of only the truffle folder

It'd be nice if it went down the hierarchy to find the contracts

[2022-10-27 15:53] emilyJLin95 opened #249 "Deploying via ganache should rewrite truffle-config"
When I deploy on VS Code on ganache, it rewrites the truffle-config

Additionally, is there a way to not add the loc_local_ prefix? It gets confusing to remember when i want to do --network ganache_name

[2022-10-27 22:47] michaeljohnbennett commented on #246
Code is changed our side, need to confirm that sepolia forking is working correctly into ganache from the extension.

[2022-10-27 22:58] michaeljohnbennett commented on #208
As a wider issue, we need to consider what other integrations we want to add to this section?

- Scribble
- IPFS
- Some Others?

[2022-10-27 22:59] michaeljohnbennett commented on #209
At what level do we want to do this?

Is arm/disarm globally? Or are we wanting to do this specifically per file?

[2022-10-27 23:00] michaeljohnbennett commented on #208
If integrations are not installed/enabled perhaps the greyed out options have links to their relevant docs/startup/faqs to learn more. (learn more...) link under each treeview.

[2022-10-28 02:46] michaeljohnbennett commented on #246
ok I have fixed the requirements page as part of this too.

Requirements are now driven from our constants correctly, stopping duplication of values/mismatches on the HTML page.

Sepolia working on Ganache >7.4.3

[2022-10-28 08:24] xhulz commented on #232
fixed on #233

[2022-10-28 08:24] #232 closed

[2022-10-31 11:41] acuarica commented on #209
I'm assuming when you say globally, it means to act on every contract. If so, I would say, ideally to have both options, on all files and individually. The `scribble` command itself acts on a single file, so this might be a more important use case.

[2022-10-31 11:47] acuarica commented on #208
Maybe we could use the **Requirements Page** to add these integrations. As a user I would expect to see installation options unified in that page.

[2022-10-31 23:43] michaeljohnbennett commented on #209
we need to know which contracts are armable too? Looking for scribble annotations?

[2022-11-01 13:10] acuarica commented on #209
In a first pass, I would do something simpler, just an interface for its command, regardless of any annotations in the contract. We could parse Scribble's output to notify the user if any instrumentation actually happened.

In case we want to inform the user beforehand, we'll need some sort of Scribble's annotation parser.

[2022-11-02 14:19] xhulz commented on #236
Hey @brunsu,

Sorry for the delay. We have released a new version of the VSCode extension with some improvements and debug fixes. Could you please test it again?

Cheers!

[2022-11-02 19:32] kevinbluer commented on #236
Also @brunsu just for reference the fix @xhulz is referencing is in the `v2.6.0` release ([changelog](https://marketplace.visualstudio.com/items/trufflesuite-csi.truffle-vscode/changelog)). Unless you've changed the default behavior, the extension should automatically update itself with VS Code, but it could be worth checking the version via the extensions tab:

<img width="760" alt="Screen Shot 2

[2022-11-02 22:14] kevinbluer commented on #219
Hey @pupudaye, apologies for the slight delay in follow-up to this one. However, good news in that the fix for this should hopefully now be in place (as of `v2.6.0`). Feel free to give it a try and let us know how you get on it 🤞

[2022-11-03 11:59] xhulz commented on #149
Hey @kevinbluer

I was thinking about on the first step, before the list of networks, put a selector with 2 options `Debug a local transaction` or `Fetch transaction from external network`. So in the next step we just need to filter the local and forked networks. What do you think?

Thank you

[2022-11-03 12:10] xhulz commented on #221
Hey @michaeljohnbennett, I see you're working on a solution that seems to solve this problem, right? Maybe it's better to wait for your solution or can I work on it?

Thank you

[2022-11-03 18:57] acuarica commented on #149
Hi @kevinbluer and @xhulz for your suggestions. I've just pushed some improvements leaning toward Option 1. Currently the debugger can be started either from the `Debug Transaction` command or directly via the `Run and Debug` bar. In the future, it might be even triggered by the CLI if https://github.com/trufflesuite/vscode-ext/pull/231 gets merged.

I believe we need to provide mechanisms to enab

[2022-11-03 20:30] kevinbluer commented on #149
Awesome, taking a look @acuarica! Also for reference, here's some transaction hashes for us to test with:

- First purchase of a Crytopunk: `0x65579455ac3227e7b3db72b4e359e988bb16cae6d26c88818d1a6991b478b274`
- Uniswap v3 deployment: `0xe881c43cd88063e84a1d0283f41ee5348239b259c0d17a7e2e4552da3f4b2bc7`
- Axie Infinity Ronin Bridge hack: `0xed2c72ef1a552ddaec6dd1f5cddf0b59a8f37f82bdda5257d9c7c37db7b

[2022-11-03 21:14] kevinbluer commented on #149
Just reviewed and looks good to me for now 👍 I have some thoughts around the broader UX for this but I still a bit fuzzy so this is great for now. I did tweak the copy a little as follows (happy to tweak further too):

<img width="598" alt="Screen Shot 2022-11-03 at 4 06 12 PM" src="https://user-images.githubusercontent.com/210755/199835378-e54fb87d-f1f5-46bd-83ea-e307f9a05699.png">

[2022-11-04 08:24] xhulz commented on #149
Hey @acuarica!

Nice job! About https://github.com/trufflesuite/vscode-ext/pull/231 I'll merge it today :)

Cheers!

[2022-11-04 12:54] acuarica commented on #149
I think we need to add a flag into the launch debug configuration to control the fetch external behavior. Then we can adapt the UI to set this flag as mentioned above. I see two potential behaviors:

1. `fetchExternal: boolean` defaults to `false`. The debugger always tries to fetch external regardless of the underlying network when this flag is set. This is similar to the `--fetch-external` flag

[2022-11-06 09:28] denijazz84 opened #253 "Udemy Courses not Available when I plug in my monitor"
Hello Everybody,

I need support because Udemy does not give a quality support to me.
I used to learn coding from the courses I purchased from Udemy, but since 2 weeks, when I plug in my monitor (Asus ZenScreen) the video goes black, I can still hear but without seeing it is useless.
I reached out to them and no help, I complained and then they sent me an email mentioning some Setting adjustments

[2022-11-07 21:42] #253 closed

[2022-11-08 15:29] kevinbluer commented on #149
Just discussed with @xhulz and leaning towards #1 (e.g. `fetchExternal: boolean`), which he'll add to the Truffle CLI `--vscode` object that's getting passed over.

[2022-11-08 19:18] acuarica commented on #149
Hi @kevinbluer, as discussed, here it's an example of a local (non-forked) transaction calling an external contract in a ganache forked instance. The example it's just getting the `balanceOf` [USDC](https://goerli.etherscan.io/address/0x2f3a40a3db8a7e3d09b0adfefbce4f6f81927557) for some hard-coded account. To sum up, fetch external _does_ make sense for local transactions, which makes lean towards

[2022-11-09 10:50] xhulz commented on #149
@kevinbluer @acuarica,

As we said, I just implemented the parameter `fetchExternal` on URI Handler and in the configuration (PR #254). I've set its default value as `false`.

Once we have this PR merged, @acuarica you can change the debug routine in the best way that suits you :)

Cheers!

[2022-11-09 15:08] #149 closed

[2022-11-09 22:55] kevinbluer commented on #149
Awesome, thanks for the confirmation @acuarica! @xhulz it might have been a bit unclear from the above, but would it be possible to switch the name of the parameter to `disableFetchExternal` (and still keep the default to `false`). Feel free to confirm from too @acuarica. Thanks again!

[2022-11-09 23:10] acuarica commented on #149
@kevinbluer @xhulz I can take care of it.

[2022-11-11 19:16] acuarica commented on #236
Hi @brunsu thanks for reporting this. After further investigation, we realized that this issue is caused by a bug in Web3js when forking BSC network. We are using Web3js to interact with the underlying network. Take a look at https://github.com/web3/web3.js/pull/3789 and https://github.com/web3/web3.js/pull/3948 for discussions surrounding this issue. _TL;DR;_ `gasLimit` is greater than 53 bits in

[2022-11-12 18:55] acuarica opened #256 "Fix `Debug Transaction` command when Truffle config does not follow default name"
Whenever there is a Truffle workspace open that does not follow the default Truffle config file name, _i.e._, `truffle-config.js`,
the `Truffle: Debug Transaction` command fails with

[code]

For example,

![truffle-sample-project-1668278503546](https://user-images.githubusercontent.com/4592980/201489759-46861184-b3db-4a72-b294-db2d896f924f.gif)

In this workspace, we have two Truffle config files

[2022-11-14 15:58] acuarica opened #257 "Do not remove comments from Truffle config file when deploying to a Ganache network"
When deploying contracts to a Ganache network, the Truffle config file, _e.g._, `truffle-config.js`, is rewritten to add the selected network and deploy contracts to it. However, if the Truffle config file contains comments, these are removed. See example below.

![truffle-sample-project-1668440979627](https://user-images.githubusercontent.com/4592980/201704341-93cd9f34-833e-46b8-a8b4-7b9f23eec14b

[2022-11-14 16:00] xhulz commented on #257
Hey @acuarica,
This is related to this issue: https://github.com/trufflesuite/vscode-ext/issues/249

[2022-11-14 16:18] acuarica opened #258 "Activate extension when some Truffle views are collapsed"
The extension does not get activated when the Truffle activity bar is visible but the _Networks_ view is collapsed. This gives the impression that there is not a Truffle workspace open in the _Contract Explorer_. See example below.

![truffle-sample-project-1668441994330](https://user-images.githubusercontent.com/4592980/201708258-90fa4e1a-f6d7-41cc-98e1-8faca0707edb.gif)

## Steps to reproduce

1

[2022-11-14 17:32] acuarica opened #259 "Avoid redundant Truffle config file selection when building/deploying contracts"
In a multi-project workspace, _i.e._, when there are more than one Truffle config files, building/deploying contracts from the _Contract Explorer_ view cause the subsequent project selection to be redundant. This is because when using the _Contract Explorer_, any action already implicit use a Truffle config file. See example below

![opbox-1668443454898](https://user-images.githubusercontent.com/4

[2022-11-14 21:45] acuarica opened #260 "Support `network` option in addition to `providerUrl` when debugging"
Currently, the extension supports the `providerUrl` option to allow the user to indicate a provider when launching a new debug session. This option suffices unless the user wants to specify a provider using a Web3js object[1]. Since Web3js provider objects do not have a serialized form, the extension needs a mechanism to accept a provider other than using a provider url.

Introduce a new debugger

[2022-11-14 21:53] acuarica commented on #260
@xhulz @kevinbluer does this make sense after our discussion? @michaeljohnbennett to loop you in.

[2022-11-15 08:38] xhulz commented on #260
Hi @acuarica,

Yes, sounds good! Thank you for that one :)

[2022-11-15 17:59] acuarica commented on #249
We might get rid of this issue altogether **when/if** https://github.com/trufflesuite/truffle/issues/5701 gets implemented. Because if it gets implemented, a new `--url` flag will be introduced. This flag that allows us to pass down the network, instead of re-writing `truffle-config.js`.

[2022-11-16 13:11] acuarica commented on #260
Hi @xhulz, not sure if understand correctly, missing where? `providerUrl` is currently used to accept the provider in both the launch configuration and URI handler.

[2022-11-16 13:50] xhulz commented on #260
in the documentation above, but no worries. For example, here: `vscode://trufflesuite-csi.truffle-vscode/debug?txHash=0xd4290e9754d1a60cb7be5c1f6b53090fb6f047d13d325517f36aa15b6a9f46e0&network=development&workingDirectory=%2Fpath%2Fto%2Fproject&disableFetchExternal=true`

[2022-11-16 14:26] acuarica commented on #260
Got it, thanks for the heads up. I added some remarks in this issue's _Example_ section that hopefully makes it clear. In summary it is missing because the `network` field has been specified.

[2022-11-17 18:39] cds-amal commented on #257
@benjamincburns might have a library to use in this scenario

[2022-11-18 22:44] acuarica opened #262 "Invalidate `require` cache of `truffle-config.js` when debugging"
When the debugger is started using a launch configuration, the first time loads `truffle-config.js` using `require`. The next time the debugger is started, any changes to `truffle-config.js` will not be reflected since `truffle-config.js` has been already cached.

For instance, in the example below, you can see that the Debugger reads `truffle-config.js` properly the first time. However, the secon

[2022-11-21 13:18] acuarica opened #263 "Remove `faker` from the extension bundle"
Currently we are including the `faker` package into the extension bundle, even though it is not being used. Looking at the extension bundle you can see that there are many occurrences.

[code]

And `@truffle/debugger` is the one that includes `faker` indirectly.

[code]

`faker` was removed from Truffle in https://github.com/trufflesuite/truffle/pull/5484. More precisely, that PR was included in t

[2022-11-22 01:36] acuarica commented on #262
After further investigation, this was an issue with the `@truffle/config` package. See https://github.com/trufflesuite/truffle/pull/5728 for more details.

[2022-11-22 09:44] xhulz commented on #203
PR ref: https://github.com/trufflesuite/vscode-ext/pull/261

[2022-11-22 09:44] #203 closed

[2022-11-22 09:46] xhulz commented on #248
PR ref: https://github.com/trufflesuite/vscode-ext/pull/251

[2022-11-22 09:46] #248 closed

[2022-11-23 12:54] acuarica opened #266 "Truffle Visual Debugger"
## Future Improvements

Integrate better with other Truffle CLI commands, for example with `test` command. See https://trufflesuite.com/docs/truffle/how-to/debug-test/use-the-truffle-debugger for more details on the Truffle Debugger capabilities. In particular, _Debug read-only calls_, _i.e._, https://trufflesuite.com/docs/truffle/how-to/debug-test/use-the-truffle-debugger/#in-test-debugging.

The

[2022-11-24 10:48] acuarica commented on #260
Closing since it was implemented in https://github.com/trufflesuite/vscode-ext/pull/261.

[2022-11-24 10:48] #260 closed

[2022-11-29 19:27] acuarica opened #269 "Review and optimize bundle dependencies"
As a follow up of https://github.com/trufflesuite/vscode-ext/issues/263 and https://github.com/trufflesuite/vscode-ext/pull/245#issuecomment-1326630850, we noticed that the main extension bundle is quite large. We need to review bundled dependencies, and remove any of these that are unused by the extension.

To analyze bundle dependencies, we use [`webpack-bundle-analyzer`](https://github.com/webp

[2022-11-30 13:00] #263 closed

[2022-11-30 15:02] ifsheldon opened #271 "Required app issues"
Hi! I'm new to using truffle to develop smart contracts and I want to use vscode, but the experience is a bit confusing, especially on the required apps. Here are a couple of issues I found.

Why do you need node.js to be below 17 while the LTS of node.js now is 18.12.1? Can I stick with my current lts node.js?

Another issue is about ganache. I installed it according to the official guide, which

[2022-11-30 18:45] acuarica commented on #271
Hi @ifsheldon, thanks for sharing your concerns.

Both Truffle and Ganache support Node 18. So, yes, you should be able to work with Node 18, even if the extension now requires a Node version below 18. We'll send a PR to support Node 18 within the extension.

Installing either the UI app or the CLI is matter of preference. The VS Code extension only requires the CLI to be installed, so you should

[2022-11-30 20:04] acuarica commented on #271
Node 18 support should be included in #272.